<template>
    <div :ref="'lazyImageBox['+alt+']'" :class="divClasses">
        <img
            :src="blob"
            :alt="alt"
        />
        <div v-if="!isLoaded && withLoader || false">
            <span :style="{ transform: `scaleX(${this.completedPercentage / 100})` }"></span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'LazyImage',
    props: ['src', 'alt', 'classes', 'withLoader','fastLoading'],
    data: function () {
        return {
            isLoaded: false,
            completedPercentage: 0,
            loader: new XMLHttpRequest(),
            blob: null
        }
    },
    computed: {
        divClasses() {
            let classes = this.classes || '';

            const obj = {
                'is-loaded': this.isLoaded
            };

            classes.split(' ').forEach((key) => {
                obj[key] = true;
            });

            return obj;
        }
    },
    mounted() {
        if(this.fastLoading){
            this.loadImage();
            return
        }

        let lazyImageBox = this.$refs['lazyImageBox['+this.alt+']'];
        let boxContainer = lazyImageBox.closest(".category__body") || document.querySelector('body');

        const callBack = (entries) => {
            if(!this.isVisible){
                if(entries[0].isIntersecting){
                    this.loadImage();
                }
            }
        };

        const options = {
            root: boxContainer,
            threshold: 1
        };

        const observer = new IntersectionObserver(callBack, options);

        observer.observe(lazyImageBox);
    },
    methods: {
        loadImage() {
            this.isVisible = true;
            const image = new Image();
            this.loader.open('GET', this.src);
            this.loader.responseType = 'arraybuffer';
            this.loader.onload = (e) => {
                this.isLoaded = true;

                const blob = new Blob([e.target.response]);
                this.blob = window.URL.createObjectURL(blob);
            };

            this.loader.onprogress = (e) => {
                this.completedPercentage = parseInt((e.loaded / e.total) * 100);
            };

            this.loader.onloadstart = ()  =>{
                this.completedPercentage = 0;
            };

            this.loader.send();
        },
    }
};
</script>

<style scoped>
</style>
