<template>
    <div>
        <svg
            v-if="type == 'dots'"
            class="svg--dots"
            xmlns="http://www.w3.org/2000/svg"
            width="13.539"
            height="2.68"
            viewBox="0 0 13.539 2.68"
        >
            <g fill="#00002d">
                <path
                    d="M6.776 2.68a1.34 1.34 0 10-1.34-1.34 1.339 1.339 0 001.34 1.34zM12.199 2.68a1.34 1.34 0 10-1.34-1.34 1.339 1.339 0 001.34 1.34zM1.335 2.68a1.34 1.34 0 10-1.34-1.34 1.339 1.339 0 001.34 1.34z"
                />
            </g>
        </svg>

        <svg
            v-if="type == 'arrow-back'"
            class="svg--arrow-back"
            xmlns="http://www.w3.org/2000/svg"
            width="15.412"
            height="10.279"
            viewBox="0 0 15.412 10.279"
        >
            <path
                d="M5.584.196a.7.7 0 01.005.985L2.34 4.441h12.378a.7.7 0 010 1.392H2.339l3.255 3.26a.7.7 0 01-.005.985.693.693 0 01-.98-.005L.198 5.63a.781.781 0 01-.145-.219.664.664 0 01-.054-.268.7.7 0 01.2-.487L4.61.213a.682.682 0 01.974-.017z"
                fill="#7992dc"
            />
        </svg>

        <svg
            v-if="type == 'logo'"
            class="svg--logo"
            width="300"
            height="54"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1000 182.76"
        >
            <path
                class="a"
                d="M283.82,566.07c1.39,0,4.54-.14,6.86-.14,6,0,8.05,2.72,8.05,6.19a5.83,5.83,0,0,1-4.29,5.79V578c3.11.5,5.18,2.5,5.18,5.93,0,5.08-3.9,7.26-9.08,7.26-2.22,0-5.25-.07-6.72-.15Zm3,2.83V577h4c2.65,0,4.83-1.47,4.83-4.19s-1.75-4-5.08-4C289.29,568.79,287.75,568.86,286.86,568.9Zm0,10.76v8.5c.82.08,2.43.15,3.86.15,3.68,0,5.86-1.5,5.86-4.58,0-2.64-2.07-4.07-5.68-4.07Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M331.83,566H346v2.86H334.87V577h10v2.86h-10v8.36h11.44v2.86H331.83Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M385.88,565.9h2.61l10.76,25.16H396l-3.22-7.58h-11.4l-3.18,7.58h-3.08Zm-3.29,14.72h9l-4.5-10.69Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M449.19,580.62c0,7.65-4.58,10.76-9.69,10.76-6,0-10.36-3.68-10.36-11V566h3V579.8c0,5.43,2.65,8.72,7.33,8.72,4.11,0,6.65-2.82,6.65-8.51V566h3Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M478.9,566h20.55v2.86h-8.76v22.16h-3V568.9H478.9Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M538,580.34v10.72h-3V580.34L526.12,566h3.5l7,11.44,7-11.44H547Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M612.05,566h14.12v2.86H615.09v8.86h10v2.86h-10v10.44h-3Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M677,580.62c0,7.65-4.57,10.76-9.68,10.76-6,0-10.37-3.68-10.37-11V566h3V579.8c0,5.43,2.64,8.72,7.33,8.72,4.11,0,6.64-2.82,6.64-8.51V566h3Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M710.11,566h3V588.2h12.33v2.86H710.11Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M755.72,566h3V588.2h12.33v2.86H755.72Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M836.42,589.77V566c1.39,0,5-.07,6.54-.07,7.15,0,9.26,3.67,9.26,7.36,0,3.87-2.9,7.47-9,7.47-1,0-2.5,0-3.75-.14v9.13Zm3-21v9.16c1.21.11,2.39.17,3.64.17,3.68,0,5.9-1.79,5.9-4.78,0-2.82-1.79-4.61-5.75-4.61C842.24,568.67,840.64,568.7,839.46,568.73Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M889,565.88h2.61l10.76,23.89h-3.26l-3.21-7.19H884.46l-3.18,7.19h-3.07Zm-3.29,14h9l-4.51-10.14Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M950.35,587.46c-1.68,1.63-4.79,2.65-7.9,2.65-7.51,0-12.69-4.82-12.69-12.22,0-6.82,4.64-12.21,12.47-12.21a11.92,11.92,0,0,1,7.62,2.31l-1.4,2.17a10.24,10.24,0,0,0-6.18-1.76c-5.44,0-9.3,3.86-9.3,9.49s4,9.5,9.76,9.5a10.58,10.58,0,0,0,6.4-2.1Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M981.13,566h3v23.75h-3Zm7.15,11.16L1000,589.77h-3.9l-11.33-12.38,11-11.37h3.68Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M836.35,474.65a53.13,53.13,0,0,1-6.69,26.54,56.74,56.74,0,0,1-4.59,6.91,51.41,51.41,0,0,1-13,11.86A45.56,45.56,0,0,1,764,520a52.49,52.49,0,0,1-14.73-14.31,12.9,12.9,0,0,0,2.73-1.79c22.52-17.21,95.93-28.52,74.52-60.68,1.09,1.57,2.14,3.2,3.1,4.92A52.85,52.85,0,0,1,836.35,474.65Z"
                transform="translate(0 -408.62)"
            />
            <polygon
                class="b"
                points="267.93 131.8 251.07 131.8 212.92 44.85 212.92 44.84 210.83 40.06 168.05 131.8 151.01 131.8 211.38 0 212.92 3.59 267.93 131.8"
            />
            <polygon
                class="b"
                points="473.9 131.8 457.06 131.8 419.73 46.72 416.8 40.06 374.02 131.8 356.99 131.8 417.37 0 420.16 6.5 473.9 131.8"
            />
            <path
                class="b"
                d="M586.31,540.42H568L530.28,483H505.65v57.44H489.76V408.62h50.76q19.47,0,32.06,11.09,11,10.44,11.19,28,0,14.47-9.5,23.69a38.69,38.69,0,0,1-12.78,7.8Q551.14,483,548.61,483Zm-46.07-71.54c.31,0,.91,0,1.79-.1.69,0,1.56,0,2.63-.09A49,49,0,0,0,553.4,467a22.58,22.58,0,0,0,9.22-5.17q5.16-5,5.17-13.82,0-12.31-6.77-18.52-7.71-6.76-20.31-6.77H505.65v46.16Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="b"
                d="M642.89,540.42H602V408.62h40.8A62.55,62.55,0,0,1,675,417.08a66.81,66.81,0,0,1,23.22,22.37,65.25,65.25,0,0,1,9.59,31.49q0,35.93-24.44,55.56Q665.92,540.42,642.89,540.42Zm0-14a46.33,46.33,0,0,0,29.9-10.53q13.15-10.62,17.39-28.2a54.78,54.78,0,0,0,1.69-13.54,51.24,51.24,0,0,0-7.61-27.64A50.05,50.05,0,0,0,666.49,429a46.21,46.21,0,0,0-23.69-6.3H618V526.41Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="b"
                d="M868,539h15.68V450.77l84.12,89.65V409.73H952.16v88.54L868,408.62Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="b"
                d="M1000,540.42H984V408.62h16Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="b"
                d="M85.5,540.42a65.48,65.48,0,0,1-33.77-9,69,69,0,0,1-24.17-24,65.47,65.47,0,0,1,0-65.81,69,69,0,0,1,24.17-24,65,65,0,0,1,33.77-9.06q24.16,0,46.68,18.67l-11,9.52q-17.94-14.46-35.69-14.46A49.67,49.67,0,0,0,60,429.21a54.3,54.3,0,0,0-18.67,18.86,53.31,53.31,0,0,0,0,53A54.18,54.18,0,0,0,60,519.91a49.58,49.58,0,0,0,25.54,6.87q19.77,0,38.44-17.3L135,518.91Q112.14,540.42,85.5,540.42Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="b"
                d="M843.48,441.79a66.67,66.67,0,0,0-23.06-24,62.28,62.28,0,0,0-64.7,0l-.58.36a66.72,66.72,0,0,0-22.49,23.62,68.15,68.15,0,0,0,0,65.63,66.53,66.53,0,0,0,23.07,24.06,62.28,62.28,0,0,0,64.7,0,66.84,66.84,0,0,0,23.06-24.06,68.08,68.08,0,0,0,0-65.63Zm-13.81,59.4a58,58,0,0,1-4.6,6.91,51.37,51.37,0,0,1-13,11.85A45.5,45.5,0,0,1,764,520a53.24,53.24,0,0,1-17-17.76c-.21-.33-.39-.66-.59-1-.66-1.15-1.28-2.33-1.82-3.52a53.19,53.19,0,0,1-5-23A53.42,53.42,0,0,1,764,429.34a45.44,45.44,0,0,1,48.05,0,48.21,48.21,0,0,1,8.69,7,54.31,54.31,0,0,1,8.89,11.82,56.14,56.14,0,0,1,0,53.08Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="b"
                d="M299.8,540.42h-16V408.62q52.08,0,56.5.19t12,2.54a40.76,40.76,0,0,1,14.48,8.36q11,10.44,11,27.92,0,14.21-9.31,23.22-13,11.56-34.12,11.56H299.8Zm34.6-72.11a47,47,0,0,0,13.44-2q14.1-4.23,14.1-18.9-.09-11.83-6.77-18.05-7.71-6.67-20.68-6.67H299.8v45.59Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="a"
                d="M87.47,585.54C45.65,585.7,8.6,549.79,0,505.44,16.17,542,51.76,568.07,90.37,568.07c41.73-4,71.58-31,114-1.85C162.91,549.55,128.52,585.24,87.47,585.54Z"
                transform="translate(0 -408.62)"
            />
            <path
                class="b"
                d="M822,437.59a56.54,56.54,0,0,1,4.43,5.45A44.63,44.63,0,0,0,822,437.59Z"
                transform="translate(0 -408.62)"
            />
        </svg>

        <svg
            v-if="type == 'restart'"
            class="svg--restart"
            xmlns="http://www.w3.org/2000/svg"
            width="24.187"
            height="20.5"
            viewBox="0 0 24.187 20.5"
        >
            <path
                d="M13.937.25a10 10 0 00-10 10H.604l4.322 4.322.078.156 4.489-4.478H6.16a7.815 7.815 0 112.289 5.489l-1.578 1.578A10 10 0 1013.937.25z"
                fill="#7a93dc"
                stroke="#fff"
                stroke-width=".5"
            />
        </svg>

        <svg
            v-if="type == 'confirm'"
            class="svg--confirm"
            xmlns="http://www.w3.org/2000/svg"
            width="23.415"
            height="23.027"
            viewBox="0 0 23.415 23.027"
        >
            <g
                fill="none"
                stroke="#7a93dc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
            >
                <path d="M22.002 10.553v.969a10.5 10.5 0 11-6.226-9.6" />
                <path d="M22.001 6.013l-10.499 10.51-3.15-3.15" />
            </g>
        </svg>

        <svg
            v-if="type == 'message'"
            class="svg--message"
            xmlns="http://www.w3.org/2000/svg"
            width="18.489"
            height="15.207"
            viewBox="0 0 18.489 15.207"
        >
            <g fill="none" stroke="#fff" stroke-width="2">
                <path
                    d="M15.811 1H2.646a1.646 1.646 0 00-1.638 1.651L1 12.557a1.653 1.653 0 001.646 1.651h13.165a1.653 1.653 0 001.646-1.651V2.651A1.653 1.653 0 0015.811 1z"
                />
                <path
                    d="M1.547 1.949l7.727 6.392 7.809-6.392"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </g>
        </svg>

        <svg
            v-if="type == 'print'"
            class="svg--print"
            xmlns="http://www.w3.org/2000/svg"
            width="24.771"
            height="24.772"
            viewBox="0 0 24.771 24.772"
        >
            <g
                fill="none"
                stroke="#7a93dc"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
            >
                <path
                    d="M5.554 8.97V1h13.663v7.97M5.554 19.217H3.277A2.277 2.277 0 011 16.94v-5.693A2.277 2.277 0 013.277 8.97h18.217a2.277 2.277 0 012.277 2.277v5.693a2.277 2.277 0 01-2.277 2.277h-2.277"
                />
                <path d="M5.554 14.663h13.663v9.109H5.554z" />
            </g>
        </svg>

        <svg
            v-if="type == 'external-link'"
            class="svg--external-link"
            xmlns="http://www.w3.org/2000/svg"
            width="15.989"
            height="15.989"
            viewBox="0 0 15.989 15.989"
        >
            <g
                fill="none"
                stroke="#001e5f"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
            >
                <path
                    d="M12.565 8.938v4.726a1.575 1.575 0 01-1.575 1.575H2.325A1.575 1.575 0 01.75 13.664V4.999a1.575 1.575 0 011.575-1.575H7.05M10.202 1.061h4.726v4.726M6.264 9.725l8.664-8.664"
                />
            </g>
        </svg>

        <svg
            v-if="type == 'trash'"
            class="svg--trash"
            xmlns="http://www.w3.org/2000/svg"
            width="19.686"
            height="21.706"
            viewBox="0 0 19.686 21.706"
        >
            <g
                fill="none"
                stroke="#001e5f"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
            >
                <path
                    d="M.75 4.791h18.186M16.915 4.791v14.145a2.021 2.021 0 01-2.021 2.021H4.792a2.021 2.021 0 01-2.021-2.021V4.791m3.031 0v-2.02A2.021 2.021 0 017.823.75h4.041a2.021 2.021 0 012.021 2.021v2.02M7.822 9.843v6.062M11.863 9.843v6.062"
                />
            </g>
        </svg>

        <svg
            v-if="type == 'zoom-in'"
            class="svg--zoom-in"
            xmlns="http://www.w3.org/2000/svg"
            width="21.082"
            height="21.082"
            viewBox="0 0 21.082 21.082"
        >
            <g
                fill="none"
                stroke="#001e60"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
            >
                <path
                    d="M17.642 9.196A8.446 8.446 0 119.196.75a8.446 8.446 0 018.446 8.446zM20.022 20.022l-4.9-4.89M9.315 5.806v7.138M5.806 9.315h7.138"
                />
            </g>
        </svg>

        <svg
            v-if="type == 'close'"
            class="svg--close"
            viewBox="0 0 24 24"
            width="24"
            height="24"
        >
            <path
                d="M19.293 3.293L12 10.586 4.707 3.293 3.293 4.707 10.586 12l-7.293 7.293 1.414 1.414L12 13.414l7.293 7.293 1.414-1.414L13.414 12l7.293-7.293z"
            />
        </svg>

        <svg
            v-if="type == 'select'"
            class="svg--select"
            xmlns="http://www.w3.org/2000/svg"
            width="6.166"
            height="3.526"
            viewBox="0 0 6.166 3.526"
        >
            <path
                d="M3.084 2.463L5.412.13a.439.439 0 01.622 0 .444.444 0 010 .624L3.396 3.398a.44.44 0 01-.608.013L.128.754A.441.441 0 01.75.13z"
                fill="#001e5f"
            />
        </svg>

        <svg
            v-if="type == 'close-circle'"
            class="svg--close-circle"
            xmlns="http://www.w3.org/2000/svg"
            width="14.516"
            height="14.516"
            viewBox="0 0 14.516 14.516"
        >
            <path
                class="svg__primary"
                d="M7.258 0a7.258 7.258 0 107.258 7.258A7.257 7.257 0 007.258 0z"
                fill="#7992dc"
            />
            <path
                class="svg__white"
                d="M9.885 9.097L8.046 7.258l1.839-1.839a.558.558 0 00-.786-.788L7.26 6.47 5.419 4.631a.558.558 0 00-.789.789l1.839 1.839L4.63 9.098a.539.539 0 000 .789.554.554 0 00.789 0l1.839-1.839 1.841 1.838a.56.56 0 00.789 0 .554.554 0 00-.003-.789z"
                fill="#fff"
            />
        </svg>

        <svg
            v-if="type == 'download'"
            xmlns="http://www.w3.org/2000/svg"
            width="23.415"
            height="23.415"
            fill="#7992dc"
            class="svg--download bi bi-arrow-down-square"
            viewBox="0 0 16 16"
        >
            <path
                fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
            />
        </svg>

        <svg
            v-if="type == 'search'"
            xmlns="http://www.w3.org/2000/svg"
            style="display: none"
        >
            <symbol
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                id="lens"
            >
                <path
                    d="M15.656,13.692l-3.257-3.229c2.087-3.079,1.261-7.252-1.845-9.321c-3.106-2.068-7.315-1.25-9.402,1.83
	s-1.261,7.252,1.845,9.32c1.123,0.748,2.446,1.146,3.799,1.142c1.273-0.016,2.515-0.39,3.583-1.076l3.257,3.229
	c0.531,0.541,1.404,0.553,1.95,0.025c0.009-0.008,0.018-0.017,0.026-0.025C16.112,15.059,16.131,14.242,15.656,13.692z M2.845,6.631
	c0.023-2.188,1.832-3.942,4.039-3.918c2.206,0.024,3.976,1.816,3.951,4.004c-0.023,2.171-1.805,3.918-3.995,3.918
	C4.622,10.623,2.833,8.831,2.845,6.631L2.845,6.631z"
                />
            </symbol>
        </svg>

        <svg
            v-if="type == 'leaf'"
            class="svg--leaf"
            width="20px"
            height="20px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#00ca00"
        >
            <g stroke-width="0" />
            <g stroke-linecap="round" stroke-linejoin="round" />
            <g id="SVGRepo_iconCarrier">
                <path
                    opacity="0.1"
                    d="M4.44905 17.0091C-0.246262 7.83768 7.34063 0.686186 19.5547 3.61251C20.4161 3.81888 21.0082 4.6099 20.9652 5.49458C20.5863 13.288 17.0342 17.7048 6.13264 17.9858C5.43034 18.0039 4.7692 17.6344 4.44905 17.0091Z"
                    fill="#323232"
                />
                <path
                    d="M4.44905 17.0091C-0.246262 7.83768 7.34063 0.686186 19.5547 3.61251C20.4161 3.81888 21.0082 4.6099 20.9652 5.49458C20.5863 13.288 17.0342 17.7048 6.13264 17.9858C5.43034 18.0039 4.7692 17.6344 4.44905 17.0091Z"
                    stroke="#323232"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M3.99987 21C5.49993 15.5 5.99988 12.5 11.9998 9.99997"
                    stroke="#323232"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </g>
        </svg>

        <svg v-else-if="use" :class="use">
            <use :xlink:href="`#${use}`" />
        </svg>
    </div>
</template>

<script>
export default {
    name: "SvgViewer",
    props: ["type", "use"],
    data: function () {
        return {};
    },
};
</script>

<style scoped></style>
