<template>
    <div class="preview__container is-complete-showing">
        <section class="preview__body is-complete-showing">
            <div class="preview__image">
                <carousel
                    :per-page="1"
                    :navigation-enabled="true"
                    :loop="true"
                    pagination-active-color="#001e60"
                    pagination-color="#e4e9f8"
                    :pagination-padding="5"
                    v-model="currentSlide"
                >
                    <slide>
                        <a href="#" @click.prevent="openLightbox()">
                            <lazy-image
                                :src="combination.image_url"
                                :alt="combination.title"
                                :key="combination.id"
                                classes="product__thumbnail transparent"
                                :withLoader="true"
                                :fastLoading="true"
                            />
                        </a>
                    </slide>
                    <slide
                        v-for="(image, index) in combination.gallery"
                        :key="index"
                    >
                        <a href="#" @click.prevent="openLightbox()">
                            <lazy-image :key="combination.id" classes="product__thumbnail transparent" :src="image" :alt="combination.title" :withLoader="true" :fastLoading="true" />
                        </a>
                    </slide>
                </carousel>

                <div class="preview__image__zoom">
                    <a href="#" @click.prevent="openLightbox()"
                        ><svg-viewer type="zoom-in"></svg-viewer
                    ></a>
                </div>
            </div>

            <div class="preview__description">
                <h2 v-html="combination.title"></h2>
                <h3>Configuration summary</h3>
                <dl class="is-resume">
                    <template v-for="product in products">
                        <dt><span v-html="product.type"></span></dt>
                        <dd>
                            <span v-html="product.name"></span>
                            <a href="#" @click.prevent="preview(product)"
                                ><svg-viewer type="external-link"></svg-viewer
                            ></a>
                        </dd>
                    </template>
                </dl>
            </div>
        </section>

        <footer class="preview__footer">
            <h4>Minimum Q.ty (MOQ): from {{world_field_minimum_qty}} pcs up, per single article</h4>
            <div class="preview__footer__top">
                <a href="#" @click.prevent="save()"
                    ><svg-viewer type="confirm"></svg-viewer>
                    <span>Save Configuration</span></a
                >
                <a href="#" @click.prevent="print()"
                    ><svg-viewer type="message"></svg-viewer>
                    <span>Request a Quote</span></a
                >
                <a href="#" @click.prevent="download()"
                    ><svg-viewer type="download"></svg-viewer>
                    <span>Download Details</span></a
                >
            </div>
        </footer>
    </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

import {
    EVENT_PREVIEW,
    EVENT_SAVE,
    EVENT_QUOTE,
    EVENT_DETAILS,
} from "../utils/constants.js";

export default {
    name: "CombinationViewer",
    props: ["combination", "products", "world_field_minimum_qty"],
    components: {
        Carousel,
        Slide,
    },
    data: function () {
        return {
            lightbox: null,
            currentSlide: 0,
        };
    },
    methods: {
        preview(product) {
            this.$root.$emit(EVENT_PREVIEW, product);
        },
        save() {
            this.$root.$emit(EVENT_SAVE);
        },
        print() {
            this.$root.$emit(EVENT_QUOTE);
        },
        download() {
            this.$root.$emit(EVENT_DETAILS);
        },
        openLightbox() {
        this.lightbox = new FsLightbox();
            this.lightbox.props.sources = [
                this.combination.image_url,
                ...(this.combination?.gallery || []),
            ];

            this.lightbox.open(this.currentSlide);
        },
    },

};
</script>

<style scoped>
.preview__container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    height: auto;
    max-height: 100%;
    border-bottom-width: 1px;
    overflow: auto;
}
</style>
