<template>
    <section class="preview__body">
        <div class="preview__image">
            <carousel
                :per-page="1"
                :navigation-enabled="true"
                :loop="true"
                pagination-active-color="#001e60"
                pagination-color="#e4e9f8"
                :pagination-padding="5"
                v-model="currentSlide"
            >
                <slide>
                    <a href="#" @click.prevent="openLightbox()">
                        <lazy-image
                            :src="product.full_image_url"
                            :alt="product.name"
                            :key="product.web_code"
                            classes="product__thumbnail transparent"
                            :withLoader="true"
                            :fastLoading="true"
                        />
                    </a>
                </slide>
                <slide v-for="(image, index) in product.gallery" :key="index">
                    <a href="#" @click.prevent="openLightbox()">
                        <lazy-image :key="product.web_code+'-'+index" classes="product__thumbnail transparent" :src="image" :alt="product.title" :withLoader="true"
                        :fastLoading="true" />
                    </a>
                </slide>
            </carousel>

            <div class="preview__image__zoom">
                <a href="#" @click.prevent="openLightbox()"
                    ><svg-viewer type="zoom-in"></svg-viewer
                ></a>
            </div>
            <a
                href="#"
                class="preview__image__delete js-delete"
                @click.prevent="unselect()"
                ><svg-viewer type="trash"></svg-viewer
            ></a>
        </div>

        <div id="description" class="preview__description">
            <h2 v-html="product.name"></h2>
            <dl>
                <template v-if="product.height">
                    <dt>HEIGHT mm</dt>
                    <dd>{{ product.height.toLocaleString() }}</dd>
                </template>

                <template v-if="product.diameter">
                    <dt>DIAMETER mm</dt>
                    <dd>{{ product.diameter.toLocaleString() }}</dd>
                </template>

                <template v-if="product.length">
                    <dt>LENGTH</dt>
                    <dd>{{ product.length.toLocaleString() }}</dd>
                </template>

                <template v-if="product.width">
                    <dt>WIDTH</dt>
                    <dd>{{ product.width.toLocaleString() }}</dd>
                </template>

                <template v-if="product.suggested_lps">
                    <dt>SUGGESTED LPS mm</dt>
                    <dd>{{ product.suggested_lps.toLocaleString() }}</dd>
                </template>

                <template v-if="product.weight">
                    <dt>WEIGHT gr</dt>
                    <dd>{{ product.weight.toLocaleString() }}</dd>
                </template>

                <template v-if="product.dosage">
                    <dt>DOSAGE cc</dt>
                    <dd>{{ product.dosage.toLocaleString() }}</dd>
                </template>

                <template v-if="product.green_option">
                    <dt>GREEN OPTION</dt>
                    <dd>{{ product.green_option }}</dd>
                </template>

                <template
                    v-for="attribute in product.attributes"
                    v-if="attribute.value"
                >
                    <dt>{{ attribute.name }}</dt>
                    <dd>{{ attribute.value ? attribute.value : "-" }}</dd>
                </template>
            </dl>
        </div>
    </section>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

import { EVENT_UNSELECT } from "../utils/constants.js";

export default {
    name: "ProductViewer",
    props: ["product"],
    components: {
        Carousel,
        Slide,
    },
    data: function () {
        return {
            lightbox: null,
            currentSlide: 0,
        };
    },
    methods: {
        unselect(product) {
            this.$root.$emit(EVENT_UNSELECT, this.product);
        },
        openLightbox() {
            this.lightbox = new FsLightbox();
            this.lightbox.props.sources = [
                this.product.full_image_url,
                ...(this.product?.gallery || []),
            ];

            this.lightbox.open(this.currentSlide);
        },
    },
};
</script>

<style scoped></style>
