<template>
    <section
        id="preview"
        :class="
            (isSomethingSelected ? 'is-preview-open' : '') +
            (current.combination ? ' is-combination-visible' : '')
        "
    >
        <div
            :class="
                'preview ' + (isCombinationVisible ? 'is-complete-showing' : '')
            "
        >
            <nav class="preview__tabs js-tabs">
                <ul>
                    <li
                        v-if="hasNoProductsOrCombination()"
                        :class="
                            'preview__tabs__item is-active ' +
                            (hasNoProductsOrCombination()
                                ? 'is-hidden-mobile'
                                : '')
                        "
                    >
                        <a href="#"
                            ><span>&nbsp;</span> <small>&nbsp;</small></a
                        >
                    </li>

                    <li
                        v-for="product in products"
                        :key="product.web_code"
                        :class="
                            'preview__tabs__item ' +
                            (isProductSelected(product) ? 'is-active' : '')
                        "
                    >
                        <a
                            href="#"
                            @click.prevent="selectProduct(product)"
                            :title="product.name"
                        >
                            <svg-viewer type="dots"></svg-viewer>
                            <span v-html="product.type"></span>
                            <small v-html="product.name"></small>
                        </a>
                    </li>
                </ul>
                <div
                    v-if="combination"
                    :class="
                        isCombinationVisible
                            ? 'preview__tabs__item is-complete is-active'
                            : 'preview__tabs__item is-complete'
                    "
                >
                    <a href="#" @click.prevent="selectCombination()"
                        ><span>Full Pack<br />Configuration</span></a
                    >
                </div>
            </nav>
            <div
                class="preview__start"
                v-if="!current.product && !current.combination"
            >
                <p>Select a product to start the Full Pack Configuration</p>
                <img
                    :src="baseUrl + '/frontend/assets/static/default.png'"
                    alt="Configurator Placeholder"
                />
            </div>

            <product-viewer
                v-if="current.product"
                :key="current.product.id"
                :product="current.product"
            ></product-viewer>

            <combination-viewer
                v-if="current.combination"
                :key="current.combination.code"
                :combination="current.combination"
                :products="products"
                :world_field_minimum_qty="world_field_minimum_qty"
            ></combination-viewer>
        </div>
    </section>
</template>

<script>
import { EVENT_PREVIEW } from "../utils/constants.js";

export default {
    name: "SelectionViewer",
    props: ["products", "combination", "baseUrl", "world_field_minimum_qty"],
    data: function () {
        return {
            current: {
                selected: null,
                product: null,
                combination: null,
            },
        };
    },
    mounted() {
        let self = this;

        this.$root.$on(
            EVENT_PREVIEW,
            function (productOrCombination, show = true) {
                console.log("EVENT_PREVIEW");
                if (productOrCombination == "combination") {
                    self.selectCombination();
                } else {
                    self.selectProduct(productOrCombination, show);
                }
            }
        );
    },
    watch: {
        combination: function (newCombination, oldCombination) {
            if (newCombination) {
                this.selectCombination();
            }
        },
    },
    computed: {
        isSomethingSelected: function () {
            return this.current.selected;
        },
        isCombinationVisible: function () {
            return (
                this.current.selected &&
                this.current.combination &&
                this.current.selected.code == this.current.combination.code
            );
        },
    },
    methods: {
        isMobile() {
            return window.innerWidth < 768;
        },
        selectProduct(product, show = true) {
            if (
                product &&
                this.current.product &&
                product.web_code == this.current.product.web_code
            ) {
                if (this.isMobile()) {
                    this.current.selected = null;
                    this.current.product = null;
                }
            } else {
                this.current.product = product;
                this.current.selected = show ? product : null;
            }

            this.current.combination = null;
        },
        selectCombination() {
            this.current.product = null;
            this.current.combination = this.combination;

            this.current.selected =
                this.isMobile() && this.isCombinationVisible
                    ? null
                    : this.combination;
        },
        isProductSelected(product) {
            return (
                product &&
                this.current.product &&
                this.current.product.web_code == product.web_code
            );
        },
        isCombinationSelected() {
            return !!this.current.combination;
        },
        hasNoProductsOrCombination() {
            return this.products.length == 0 && !this.combination;
        },
    },
};
</script>

<style>
@media (min-width: 768px) {
    #preview.is-combination-visible {
        height: calc(100vh - 125px) !important;
    }
}
.preview__footer {
    bottom: 1px;
}
.VueCarousel-slide {
    flex-basis: 100% !important;
}
</style>
