.has-products .preview__start {
    /* Vue will handle this */
    opacity: 1 !important;
    visibility: visible !important;
}

.preview__start {
    /* Avoid grey line below tabs */
    top: 57px !important;
}

.filter_checkbox[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 2px solid #d9d9d9;
    outline: 0;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;

    & ~ label {
        margin: 0 4px;
        display: flex;
        align-items: center;
        cursor: pointer;

        @at-root [data-filter="green_option"] & {
            color: #6de86d;
            font-weight: 500;
        }

        div .svg--leaf {
            fill: #6de86d;
            margin-left: 5px;
        }
    }

    &:checked {
        background: url(../svg/confirm.svg);
        background-size: contain;
        border: 0;
    }
}
