@import '_override';
@import '_globals/_variables';
@import '_globals/_functions';
@import '_globals/_mixins';
@import '_globals/_fonts';

html {
    font-size: $font_size;
    scroll-behavior: smooth;
}

body {
    font-family: 'Wotfard', sans-serif;
    color: $text_color;
    background: $white;
    font-size: 100%;
    @media (min-width: pixel(map-get($responsive, 'mobile'))) {
        background: $background_color;
    }
    &.is-filter-open {
        overflow: hidden;
        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            overflow: auto;
        }
    }
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    user-select: none;
}

a {
    text-decoration: none;
    color: $link_color;

    &:visited {
        color: inherit;
    }
}

.has-products #CookiebotWidget,
.has-products .grecaptcha-badge {
    visibility: hidden;
}

.d-none {
    display: none !important;
}

@import '_partials/_header';
@import '_partials/_world';
@import '_partials/_main';
@import '_partials/_footer';
@import '_partials/_anchors';
@import '_partials/_preview';
@import '_partials/_category';
@import '_partials/_product';
@import '_partials/_popup';
@import '_partials/_search';

@import "vue-select/src/scss/vue-select";
