@use "sass:math";

@import "_globals/_variables";
@import "_globals/_functions";
@import "_globals/_mixins";
@import "_globals/_fonts";

$font_size: 40px;
$horizontal-gap: mm(100px);
$top-gap: mm(293px);
$bottom-gap: mm(200px);
$header-offset: mm(100px);
$footer-offset: mm(46px);
$table-border: 10px;

html {
    font-size: $font_size;
    line-height: 1;
    scroll-behavior: smooth;
}

@page {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Wotfard", sans-serif;
    color: $secondary;
    background: $white;
    font-size: 100%;
    margin: 0;
    padding: $top-gap $horizontal-gap $bottom-gap;

    &.has-double-header {
        $top-gap: mm(450px) !global;

        padding-top: $top-gap;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    user-select: none;
}

a {
    text-decoration: none;
    color: $link_color;

    &:visited {
        color: inherit;
    }
}

table {
    border-collapse: collapse; // Prevent double borders
    margin: 0;
    padding: 0;
    border: 0;
}

.page-break {
    page-break-after: always;
}

.fixed-table {
    table-layout: fixed;
}

.header,
.footer {
    position: fixed;
    left: $horizontal-gap;
    right: $horizontal-gap;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.header {
    top: $header-offset;
    bottom: auto;

    table {
        & + table {
            margin: mm(71px) 0 0;
        }
    }

    p {
        margin: 0;
    }

    &__logo {
        a {
            display: block;

            img {
                display: block;
                max-width: mm(657px);
                width: mm(657px);
                height: mm(120px);
            }
        }
    }

    &__quote {
        font-size: rem(30px);
        line-height: 1;

        p {
            margin: 0;
            padding: 0;
        }

        a {
            font-weight: bold;
            display: block;
            font-size: rem(36px);
            line-height: 1;
            color: $primary;
        }
    }

    &__title {
        font-size: 1rem;
        padding-right: 10mm;

        h1 {
            font-size: 1em;
            line-height: 1;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }
    }

    &__breadcrumb {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            white-space: nowrap;

            li {
                font-size: rem(21px);
                line-height: 1;

                &.pdf-place-world {
                    font-size: rem(26px);
                    line-height: 1;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.footer {
    top: auto;
    bottom: $footer-offset;
    line-height: 1;

    p {
        white-space: pre;
        margin: 0;
        padding: 0;
    }

    &__copy {
        font-size: rem(28px);
        line-height: 1;
    }

    &__disclaimer {
        padding-top: mm(18px);
        font-size: rem(26px);
        line-height: 1;
    }
}

#content {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.table {
    $left: #{&}__left;
    $right: #{&}__right;
    $left-size: 660px - $table-border;

    table-layout: auto;
    border: mm($table-border) solid $primary_alt;
    background-color: $primary_alt;
    page-break-inside: avoid;

    thead, tbody {
        break-after: avoid;
        page-break-after: avoid;
        break-before: avoid;
        page-break-before: avoid;
    }

    #{$left} {
        width: mm($left-size);
    }
}

.combination {
    margin: 0;
    padding: mm(30px - $table-border) 0;

    &__thumbnail {
        img {
            width: mm(620px);
            height: mm(620px);
            background-color: $white;
            display: block;
        }
    }

    &__content {
        padding: 0 mm(50px - $table-border) 0 mm(80px);

        h2 {
            text-transform: uppercase;
            margin: mm(8px) 0;
            font-weight: normal;
            font-size: rem(40px);
        }
    }

    &__products {
        font-weight: normal;
        font-size: rem(40px);
        border-collapse: separate;
        border-spacing: 0 mm(20px);
        table-layout: auto;

        td {
            padding: mm(10px) mm(20px);
            background-color: $white;
            text-transform: uppercase;
        }
    }
}

.product {
    margin: mm(15px) 0 0;

    &__type {
        font-size: rem(35px);
        font-weight: normal;
        padding: mm(10px) 0 mm(10px + $table-border);

        span {
            display: block;
            margin: 0 0 0 mm(30px);
        }
    }

    &__title {
        padding: mm(0px) 0 mm(0px + $table-border);

        h3 {
            font-size: rem(40px);
            font-weight: bold;
            margin: 0;
        }
    }

    tbody {
        background-color: $white;
    }

    &__thumbnail {
        background-color: $white;

        img {
            margin: mm(30px) mm(30px);
            width: mm(480px);
            height: mm(480px);
            background-color: $white;
            border: mm(2px) solid $primary_alt;
            display: block;
        }
    }

    &__content {
        background-color: $white;
        padding: mm(40px) mm(50px - $table-border) mm(50px) 0;
    }

    &__attributes {
        font-weight: normal;
        font-size: rem(30px);
        line-height: 1;
        border-collapse: collapse;
        table-layout: auto;

        tr {
            td {
                padding: mm(9px) 0;
                background-color: $white;
                text-transform: uppercase;
                border-bottom: mm(2px) solid $gray;

                &:first-child {
                    width: mm(280px);
                }
            }

            &:last-child {
                td {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }
}
