<template>
    <div
        v-if="products.length > 0 || filtersCount > 0"
        :id="category.id"
        class="category js-accordion js-category"
        :class="{
            'is-half': filtersCount == 0,
            'is-close': is_close,
            'is-filter-open': is_filter_open,
            'has-top-images': category.aligned_to === 'top',
            'has-bottom-images': category.aligned_to === 'bottom',
        }"
    >
        <header class="category__head" data-accordion="head">
            <h3 v-html="category.name"></h3>
            <a
                v-if="filtersCount > 0"
                :href="'#' + category.id"
                class="category__trigger js-filters-trigger"
                @click.prevent="is_filter_open = true"
                >Filters <svg-viewer type="dots"></svg-viewer
            ></a>

            <ul
                v-if="filtersCount > 0"
                :class="'category__filter' + (is_filter_open ? ' is-open' : '')"
                data-filter=""
            >
                <li class="category__filter__header">
                    <span>Filters</span>
                    <a
                        :href="'#' + category.id"
                        class="js-filters-trigger"
                        @click.prevent="is_filter_open = false"
                        ><svg-viewer type="close"></svg-viewer
                    ></a>
                </li>

                <li class="search mobile">
                    <input
                        type="text"
                        placeholder="Search"
                        @input="sendSearchToparent"
                        :value="searchFromParent"
                    />
                    <svg-viewer use="lens" class="symbol" />
                </li>

                <!-- Show the filter only if there's at least one option to be selected/unselected -->
                <li
                    v-for="filter in category.filters"
                    :data-filter="filter.name"
                    :key="filter.name"
                >
                    <v-select
                        v-if="
                            filter.hasOwnProperty('checkbox') === false &&
                            filter.hasOwnProperty('text') === false
                        "
                        v-model="current.filters[filter.name]"
                        @input="update(filter)"
                        :style="{ '--width': calculateWidth(filter) }"
                        :class="{
                            'has-value':
                                current.filters[filter.name] === null ||
                                current.filters[filter.name].length,
                        }"
                        :options="filter.options"
                        :reduce="(option) => option.value"
                        label="label"
                        :clearable="true"
                        :searchable="false"
                        :multiple="filter.multiple"
                        :closeOnSelect="true"
                        :deselect-from-dropdown="true"
                    >
                        <template #search="{ attributes, events }">
                            <input
                                :placeholder="filter.label"
                                class="vs__search"
                                v-bind="attributes"
                                v-on="events"
                            />
                        </template>
                    </v-select>
                    <template
                        v-if="
                            filter.options.length > 0 &&
                            filter.hasOwnProperty('checkbox')
                        "
                    >
                        <input
                            type="checkbox"
                            class="filter_checkbox"
                            @change="update(filter)"
                            :id="filter.name + '_' + category.id"
                            v-model="current.filters[filter.name]"
                        />
                        <label :for="filter.name + '_' + category.id"
                            >{{ filter.label }}
                            <svg-viewer
                                v-if="filter.name == 'green_option'"
                                type="leaf"
                            ></svg-viewer>
                        </label>
                    </template>
                </li>

                <li class="category__filter__footer">
                    <a
                        href="#flaconi"
                        class="js-filters-trigger"
                        @click.prevent="is_filter_open = false"
                        >Show results</a
                    >
                </li>
            </ul>
            <div class="category__head__right">
                <li class="search desktop" @click="$refs.searchDesktop.focus()">
                    <input
                        ref="searchDesktop"
                        type="text"
                        placeholder="Search"
                        @input="sendSearchToparent"
                        :value="searchFromParent"
                    />
                    <svg-viewer use="lens" class="symbol" />
                </li>
                <a
                    :href="'#' + category.id"
                    data-accordion="close"
                    @click.prevent="accordion()"
                    ><span class="is-close-label">minimize</span>
                    <span class="is-open-label">expand</span></a
                >
            </div>
        </header>

        <div class="category__body" data-accordion="body">
            <template v-if="filteredProducts.length > 0">
                <a
                    v-for="product in filteredProducts"
                    :key="product.web_code"
                    @click.prevent="select(product)"
                    :data-web-code="product.web_code"
                    class="product js-product"
                    :class="{
                        'is-active': current.product == product.web_code,
                    }"
                >
                    <svg-viewer type="close-circle"></svg-viewer>
                    <lazy-image
                        :style="generateStyle(product)"
                        :src="product.image_url"
                        :alt="product.web_code"
                        classes="product__thumbnail"
                        :withLoader="true"
                    />
                    <span v-html="product.name"></span>
                </a>
            </template>
            <div v-else class="category__body__message">
                <p>No results found with the selected filters</p>
                <p>
                    <strong @click.prevent="restart()">Reset search</strong>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import SvgViewer from "../support/SvgViewer.vue";
import { EVENT_UNSELECT } from "../utils/constants.js";

export default {
    components: { SvgViewer },
    name: "CategorySelector",
    props: ["category", "products", "value", "updating", "searchFromParent"],
    data: function () {
        return {
            is_close: false,
            is_filter_open: false,
            current: {
                product: this.value.product,
                name: this.value.name,
                filters: this.initFilters(),
            },
            counter: 0,
        };
    },

    watch: {
        value: function (value) {
            this.current.product = value.product;

            for (const [attributeName, attributeValue] of Object.entries(
                value.filters
            )) {
                this.current.filters[attributeName] =
                    attributeValue == null ? "" : attributeValue;
            }
        },
        "category.filters": function (filters) {
            const filtersMultiple = filters.filter((filter) => filter.multiple);

            for (const filter of filtersMultiple) {
                const currentFilters = this.current.filters[filter.name];

                if (!Array.isArray(currentFilters)) {
                    continue;
                }

                const options = filter.options.map((option) => option.value);
                this.current.filters[filter.name] = currentFilters.reduce(
                    (newFilters, value) => {
                        if (options.indexOf(value) > -1) {
                            newFilters.push(value);
                        }

                        return newFilters;
                    },
                    []
                );
            }
        },
    },

    mounted() {
        let self = this;
        this.$root.$on(EVENT_UNSELECT, function (product) {
            if (self.current.product == product.web_code) {
                self.current.product = null;
                self.update();
            }
        });
    },

    computed: {
        filteredProducts: function () {
            if (!this.searchFromParent) {
                return this.orderedProducts;
            }

            const search = this.searchFromParent.trim().toLowerCase();

            return this.orderedProducts.filter((product) => {
                return (
                    product.name.toLowerCase().includes(search) ||
                    product.web_code.toLowerCase().includes(search)
                );
            });
        },
        orderedProducts: function () {
            return this.products.sort((a, b) => {
                const nameA = a.name.toUpperCase(); // ignore upper and lowercase
                const nameB = b.name.toUpperCase(); // ignore upper and lowercase
                if (nameA < nameB) {
                    return -1;
                }
                if (nameA > nameB) {
                    return 1;
                }

                // names must be equal
                return 0;
            });
        },
        filtersCount: function () {
            let count = 0;

            for (const filter of this.category.filters) {
                // Count only the filters that has at least one element to be selected/unselected.
                if (filter.options.length > 0) {
                    count++;
                }
            }

            return count;
        },
    },

    methods: {
        restart() {
            this.$emit("emptySearch", {
                name: this.current.name,
            });

            this.current.filters = this.initFilters(true);

            this.update();
        },
        generateStyle(product) {
            if (!product.alignment) {
                return {};
            }

            return {
                "--offset-top": `${product.alignment.yt || 0}%`,
                "--offset-bottom": `${product.alignment.yb || 0}%`,
            };
        },
        select(product) {
            if (this.updating) {
                return;
            }

            if (this.current.product == product.web_code) {
                this.current.product = null;
            } else {
                this.current.product = product.web_code;
            }
            this.$emit("emptySearch", {
                name: this.current.name,
            });

            this.update();
        },

        sendSearchToparent(e) {
            this.$emit("searchFromChild", {
                search: e.target.value,
                name: this.current.name,
            });
        },

        update(filter) {
            if (this.updating) {
                return;
            }

            this.$nextTick(function () {
                if (this.current.product !== null && filter !== undefined) {
                    /*for(var k in this.current.filters){
                        if(eval('this.current.filters.'+k) != ""){*/
                    this.current.product = null;
                    /*}
                        }*/
                }
                this.$emit("input", this.current);
            });
        },

        initFilters(reset = false) {
            let filters = {};

            // Initialize
            this.category.filters.forEach(function (filter) {
                filters[filter.name] = ""; // To select the default value
            });

            for (const [key, value] of Object.entries(this.value.filters)) {
                filters[key] =
                    this.value.filters[key] && !reset
                        ? this.value.filters[key]
                        : "";
            }

            return filters;
        },

        accordion() {
            this.is_close = !this.is_close;
        },

        calculateWidth(element) {
            const span = document.createElement("span");
            span.textContent = element.label;

            const ostyles = getComputedStyle(document.body);
            span.style.fontFamily = ostyles.fontFamily;
            span.style.fontStyle = ostyles.fontStyle;
            span.style.fontWeight = ostyles.fontWeight;
            span.style.fontSize = ostyles.fontSize;

            document.body.appendChild(span);
            const width = span.offsetWidth + "px";
            document.body.removeChild(span);

            return width;
        },
        changeOption(filter) {
            if (this.current.filters[filter.name]) {
                this.current.filters[filter.name] = null;
            }

            this.update(filter);
        },
    },
};
</script>
