#anchors {
  display: block;
  width: 100%;
  top: 0;
  z-index: 110;
  position: sticky;
  background-color: $background_color;
  text-transform: uppercase;

  @media (min-width: pixel(map-get($responsive, 'mobile'))) {
    display: none;
  }

  ul {
    @include scroll('x');

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 15px;

    li {
      padding: 0;
      font-size: rem(13px);
      line-height: pixelRatio(17px, 13px);
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 5px 0;
        position: relative;
        white-space: nowrap;
        display: block;

        &::after {
          @include transition('transform');

          content: '';
          height: 1px;
          display: block;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          background-color: $secondary;
          transform: scaleX(0);
          transform-origin: left center;
        }

        &.is-active {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
