.category {
    $this: &;
    $space_between: 10px;
    background-color: $white;
    display: block;
    padding: 10px 15px;
    width: 100%;
    margin: 0;
    @media (min-width: pixel(map-get($responsive, "mobile"))) {
        height: 100%;
        width: calc(100% - #{$space_between});
        margin: 0 #{calc($space_between / 2)} $space_between;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: pixel(map-get($responsive, "tablet"))) {
        padding: 15px 30px;
    }

    & &__trigger {
        flex: 0 0 0%;
        margin: 0 15px;
        position: relative;
        color: $secondary;
        font-weight: map-get($weights, "regular");
        display: block;
        width: 100%;
        border: 0;
        background-color: $gray;
        padding: 5px 40px 5px 10px;
        border-radius: 4px;
        @media (min-width: pixel(map-get($responsive, "laptop"))) {
            display: none;
        }
        svg {
            @include transition(transform);
            width: 14px;
            height: 3px;
            display: block;
            top: 50%;
            right: 10px;
            position: absolute;
            transform: translate(0, -50%) rotate(0turn);
            path {
                fill: $gray_2;
            }
        }
        &:focus,
        &:active,
        .is-filter-open &.is-open {
            svg {
                transform: translate(0, -50%) rotate(0.25turn);
            }
        }
    }
    &__head {
        padding-bottom: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        border-bottom: 1px solid $gray;
        &#{__right} {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 0 auto;
            @media (min-width: pixel(map-get($responsive, "desktop"))) {
            z-index: 101
            }
        }
        h3 {
            margin: 0;
            display: block;
            font-weight: map-get($weights, "medium");
            font-size: 1.5rem;
            line-height: 1.3;
            color: $secondary;
        }
        a {
            color: $primary;
            font-size: 1.1rem;
            font-weight: map-get($weights, "medium");
            line-height: 1.3;
            .is-open-label {
                display: none;
            }
            .is-close-label {
                display: inline-block;
            }
        }
    }
    &__filter {
        $filter: &;
        @include scroll("y");
        @include transition(opacity, visibility);
        margin: 0;
        padding: 0;
        background-color: $white;
        list-style: none;
        display: flex;
        flex-flow: nowrap column;
        justify-content: flex-start;
        align-items: stretch;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 120;
        opacity: 0;
        visibility: hidden;
        .is-filter-open &.is-open {
            opacity: 1;
            visibility: visible;
        }
        & > li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        @media (min-width: pixel(map-get($responsive, "laptop"))) {
            overflow-y: initial;
            position: static;
            z-index: 100;
            padding: 5px 0 0;
            margin: 0 15px;
            opacity: 1;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            visibility: visible;
            transition: none;
        }
        & > li {
            margin: 0 0 5px;
            flex: 0 0 auto;
            padding: 0 15px;
            position: relative;
            @media (min-width: pixel(map-get($responsive, "laptop"))) {
                padding: 0;
            }
            &#{$filter}__header {
                padding: 15px;
                z-index: 100;
                position: sticky;
                background-color: $gray;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                font-size: rem(18px);
                font-weight: map-get($weights, "medium");
                margin-bottom: 15px;
                a {
                    display: block;
                    .svg--close {
                        width: 24px;
                        height: 24px;
                        display: block;
                        path {
                            fill: $secondary;
                        }
                    }
                }
            }
            &#{$filter}__footer {
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 100;
                position: absolute;
                margin: 0;
                padding: 0;
                border-top: 1px solid $gray;
                a {
                    padding: 15px;
                    display: block;
                    text-align: center;
                    color: $secondary;
                    font-weight: map-get($weights, "regular");
                }
            }
            @media (min-width: pixel(map-get($responsive, "laptop"))) {
                margin: 0 5px 5px 0;
                &#{$filter}__header,
                &#{$filter}__footer {
                    display: none;
                }
            }

            .v-select {
                --min-width: 100%;
                --extra: 60px;
                --space: 35px;
                --gap: calc(var(--extra, 0) + var(--space, 0));
                --calculated-width: calc(var(--width, 100%) + var(--gap, 0));

                @media (min-width: pixel(map-get($responsive, "desktop"))) {
                    --min-width: 120px;
                }

                width: var(--calculated-width, 100%);
                min-width: var(--min-width);
                // margin-right: var(--space);

                .vs__selected {
                    background-color: transparent;

                    &-options {
                        gap: 2px 5px;
                        max-width: calc(100% - var(--space, 0));
                        width: auto;
                        padding: 0;
                    }
                }

                .vs__dropdown {
                    &-menu {
                        width: auto;
                        max-height: rem(250px);
                        min-width: max(
                            var(--min-width, 0),
                            var(--calculated-width, 100%)
                        );
                        background-color: $gray;
                        border: 0;
                        // width: max(auto, 100%);
                    }

                    &-option {
                        padding: 10px 10px;
                        @include transition(background-color, color);

                        @media (min-width: pixel(map-get($responsive, "laptop"))) {
                            padding: 5px 10px;
                        }

                        &--selected {
                            color: $white;
                            background-color: $primary;
                        }

                        &--highlight {
                            color: $white;
                            background-color: $secondary;
                        }
                    }

                    &-toggle {
                        @include transition(background-color, color);
                        justify-content: space-between;
                        width: 100%;
                        border: 0;
                        background-color: $gray;
                        padding: 10px;
                        // width: calc(100% + var(--space));

                        @media (min-width: pixel(map-get($responsive, "laptop"))) {
                            padding: 5px 10px;
                        }
                    }
                }

                .vs__search,
                .vs__selected {
                    display: block;
                    line-height: 1.15;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    display: block;
                    color: $black;
                }

                .vs__actions {
                    margin: 0 0 0 5px;
                    padding: 0;
                }

                &.vs--single {
                    .vs__selected {
                        width: 100%;
                        text-overflow: ellipsis;
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }

                &.vs--multiple {
                    width: auto;

                    .vs__selected {
                        width: auto;
                        padding: 0 5px;
                        background-color: $secondary;

                        .vs__deselect {
                            fill: $white;
                        }

                        &-options {
                            max-width: 100%;
                        }
                    }
                }

                &.has-value {
                    &.vs--single {
                        .vs__clear {
                            pointer-events: all;
                        }

                        .vs__dropdown {
                            &-toggle {
                                pointer-events: none;
                            }
                        }
                    }

                    .vs__search {
                        // display: none;
                        opacity: 0;
                        height: 1px;
                        width: 1px;
                        position: absolute;
                    }

                    .vs__dropdown {
                        &-toggle {
                            background-color: $primary;
                        }
                    }

                    .vs__search,
                    .vs__selected {
                        color: $white;
                    }
                }

                &.vs--open .vs__selected,
                &.vs--loading .vs__selected {
                    position: static;
                    opacity: 1;
                }
            }
        }
    }
    &__body {
        --repeat: 1;
        @include scroll("y");
        margin-top: 15px;
        padding: 0;
        display: flex;
        position: relative;
        transition: max-height 300ms ease-in-out 300ms,
            margin 300ms ease-in-out 0ms;
        will-change: max-height;
        max-height: $category_height;
        padding-bottom: 15px;
        grid-template-columns: repeat(var(--repeat), 1fr);

        @media (min-width: pixel(map-get($responsive, "mobile"))) {
            padding-bottom: 0;
            height: $category_height;
            display: grid;
            --repeat: 2;
        }
        @media (min-width: pixel(map-get($responsive, "tablet"))) {
            --repeat: 4;
        }
        @media (min-width: pixel(map-get($responsive, "desktop"))) {
            --repeat: 6;
        }
        @media (min-width: pixel(map-get($responsive, "hd"))) {
            --repeat: 7;
        }
        @media (min-width: pixel(map-get($responsive, "fullhd"))) {
            --repeat: 8;
        }
        @media (min-width: pixel(map-get($responsive, "2k"))) {
            --repeat: 12;
        }

        &__message {
            grid-column: 1 / calc(var(--repeat) + 1);
            text-align: center;
            align-self: center;
            justify-self: center;
            margin: 0 auto;
        }
    }
    &.is-close {
        #{$this}__head {
            a {
                .is-open-label {
                    display: inline-block;
                }
                .is-close-label {
                    display: none;
                }
            }
        }
        #{$this}__body {
            max-height: 0;
            margin-top: 0;
            transition: max-height 300ms ease-in-out 0ms,
                margin 300ms ease-in-out 300ms;
        }
    }
    @media (min-width: pixel(map-get($responsive, "laptop"))) {
        &.is-half {
            width: calc(50% - #{$space_between});
            #{$this}__body {
                grid-template-columns: 1fr 1fr;
                @media (min-width: pixel(map-get($responsive, "desktop"))) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
                @media (min-width: pixel(map-get($responsive, "hd"))) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
                @media (min-width: pixel(map-get($responsive, "fullhd"))) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
                @media (min-width: pixel(map-get($responsive, "2k"))) {
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                }
            }
        }
    }
}
