
#footer {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    position: fixed;
    display: block;
    background-color: $primary;
    color: $white;
    padding: 10px;

    @media (min-width: pixel(map-get($responsive, 'mobile'))) {
        display: none;
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: nowrap;

            li {
                flex: 1 1 100%;

                a {
                    @include transition(opacity);

                    color: $white;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    opacity: 1;

                    span {
                        display: block;
                        margin: 0 auto;

                        &.has-svg {
                            flex-grow: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;
                        }

                        &:not(.has-svg) {
                            margin-top: 5px;
                        }
                    }

                    svg {
                        display: block;
                        margin: 0 auto;

                        &.svg--arrow-back {
                            width: 19px;
                            width: 19.5px;
                            height: 13px;

                            path {
                                fill: $white;
                            }
                        }

                        &.svg--restart {
                            width: 23px;
                            height: 20px;

                            path {
                                fill: $white;
                            }
                        }

                        &.svg--confirm {
                            width: 21px;
                            height: 21px;

                            g {
                                stroke: $white;
                                stroke-width: 2px;
                                stroke-linejoin: round;
                            }
                        }

                        &.svg--download {
                            width: 21px;
                            height: 21px;
                            stroke: $white;
                        }

                        &.svg--print {
                            width: 22px;
                            height: 22px;

                            g {
                                stroke: $white;
                                stroke-width: 2px;
                                stroke-linejoin: round;
                            }
                        }
                    }

                    &[disabled] {
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}
