#header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 110;
    background-color: $white;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-auto-flow: column;

    @media (min-width: pixel(map-get($responsive, 'mobile'))) {
        position: fixed;
        padding: 15px map-get($body_padding, 'mobile');
        justify-content: space-between;
        grid-template-columns: 1fr auto 1fr;
    }

    @media (min-width: pixel(map-get($responsive, 'laptop'))) {
        padding: 15px map-get($body_padding, 'laptop');
    }

    .logo {
        display: block;
        margin: 0 auto;

        svg.svg--logo {
            display: inline-block;
            width: 231px;
            height: 42px;

            .a {
                fill: $primary;
            }

            .b {
                fill: $secondary;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            display: flex;
        }

        li {
            margin-left: map-get($body_padding, 'mobile');
            display: block;
            position: relative;

            @media (min-width: pixel(map-get($responsive, 'desktop'))) {
                margin-left: map-get($body_padding, 'laptop');
            }

            &:first-child {
                margin-left: 0;
            }

            a {
                @include transition(color);

                color: $secondary;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;

                &:hover {
                    color: $primary;
                }

                svg {
                    display: block;
                    margin-right: 10px;

                    &.svg--arrow-back {
                        width: 15px;
                        height: 10px;

                        path {
                            @include transition(fill);

                            fill: $primary;
                        }
                    }

                    &.svg--restart {
                        width: 23px;
                        height: 20px;

                        path {
                            @include transition(fill);

                            fill: $primary;
                        }
                    }

                    &.svg--confirm {
                        width: 21px;
                        height: 21px;

                        g {
                            @include transition(stroke);

                            stroke: $primary;
                            stroke-width: 2px;
                            stroke-linejoin: round;
                        }
                    }

                    &.svg--message {
                        width: 23px;
                        height: 23px;

                        g {
                            @include transition(stroke);

                            stroke: $primary;
                            stroke-width: 1px;
                            stroke-linejoin: round;
                        }
                    }
                }

                &[disabled] {
                    color: $disabled;
                    cursor: not-allowed;

                    svg {
                        &.svg--arrow-back {
                            path {
                                fill: $disabled;
                            }
                        }

                        &.svg--restart {
                            path {
                                fill: $disabled;
                            }
                        }

                        &.svg--confirm {
                            g {
                                stroke: $disabled;
                            }
                        }

                        &.svg--download {
                            stroke: $disabled;
                        }

                        &.svg--message {
                            g {
                                stroke: $disabled;
                            }
                        }
                    }
                }

                b{
                    color: $primary;
                    font-weight: 400;
                }
            }
        }

        &.is-nav-right {
            justify-content: flex-end;

            li {
                a {
                    flex-direction: column;

                    @media (min-width: pixel(map-get($responsive, 'desktop'))) {
                        flex-direction: row;
                    }

                    span {
                        display: none;

                        @media (min-width: pixel(map-get($responsive, 'laptop'))) {
                            display: block;
                        }
                    }

                    svg {
                        margin-right: 0;

                        @media (min-width: pixel(map-get($responsive, 'laptop'))) {
                            margin-bottom: 5px;
                            display: block;
                        }

                        @media (min-width: pixel(map-get($responsive, 'desktop'))) {
                            margin-bottom: 0;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    nav {
        display: none;

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            display: block;
        }

        ul {
            li {
                &:not(:first-child) {
                    margin-left: 30px;
                    display: none;
                    font-size: 0;

                    @media (min-width: pixel(map-get($responsive, 'tablet'))) {
                        display: block;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 1px;
                        top: 0;
                        bottom: 0;
                        left: -15px;
                        position: absolute;
                        background-color: $primary;
                    }

                    span {
                        font-size: 1rem;
                        display: none;
                        // margin-right: 5px;

                        @media (min-width: pixel(map-get($responsive, 'laptop'))) {
                            display: inline-block;
                        }
                    }
                }

                strong {
                    cursor: pointer;
                    font-size: 1rem;
                    color: $primary;
                    font-weight: map-get($weights, 'semibold');
                }
            }
        }
    }
}
