#main {
    min-height: 100vh;
    min-height: calc(100vh - #{$footer_height});
    margin: 0 0 $footer_height;
    padding: 0 0 map-get($tabs_height, 'mobile');
    display: block;
    @media (min-width: pixel(map-get($responsive, 'mobile'))) {
        padding: 0 map-get($body_padding, 'mobile') 0;
        border: $border_body solid $background_color;
        border-left-width: 0;
        border-right-width: 0;
        min-height: calc(100vh - #{$header_height});
        margin-top: $header_height;
        margin-bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    @media (min-width: pixel(map-get($responsive, 'laptop'))) {
        padding: 0 map-get($body_padding, 'laptop');

        &.is-home {
            padding: 30px;
            margin-bottom: 0;
            background-color: $gray;
        }
    }

    #composer {
        flex: 1 1 auto;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            display: flex;
            max-width: calc(100% - #{map-get($preview_width, 'mobile') + map-get($preview_spacer, 'mobile')});
        }

        @media (min-width: pixel(map-get($responsive, 'laptop'))) {
            max-width: calc(100% - #{map-get($preview_width, 'laptop') + map-get($preview_spacer, 'laptop')});
        }
    }

    #preview {
        @include transition(transform);
        padding-bottom: $footer_height;
        display: block;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        position: fixed;
        transform: translate(0, #{-1 * (map-get($tabs_height, 'mobile') + $footer_height)});

        &.is-preview-open {
            transform: translate(0, -100%);
        }

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            padding-bottom: 0;
            flex: 0 0 auto;
            position: static;
            flex-basis: map-get($preview_width, 'mobile');
            max-width: map-get($preview_width, 'mobile');
            position: sticky;
            top: #{$header_height + $border_body};
            margin-left: map-get($preview_spacer, 'mobile');
            transform: translate(0, 0);
            height: calc(100vh - #{$header_height + $border_body * 2});
            transition: none;

            &.is-preview-open {
                transform: translate(0, 0);
            }
        }

        @media (min-width: pixel(map-get($responsive, 'laptop'))) {
            flex-basis: map-get($preview_width, 'laptop');
            max-width: map-get($preview_width, 'laptop');
            margin-left: map-get($preview_spacer, 'laptop');
        }
    }

    #worlds {
        width: 100%;
        margin: 0 auto;
        max-width: 960px;
        text-align: center;
        padding: 0 15px;

        h2 {
            margin: 0 auto;
            background: linear-gradient(270deg, $primary 0%, $secondary 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
        }

        p {
            margin-bottom: 30px;
            line-height: 1.5;
        }
    }

    .disclaimer{
        padding: 20px;
        color: $secondary;

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            small{
                margin-top: 10px;
                display: block;
            }
        }

        a{
            color: $primary;
        }

    }

    .loading {
        --dot-radius:50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f4f4f4;
        z-index: 99;
        &::after,
        &::before {
            content: '';
            position: fixed;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $primary;
            display: block;
            border-radius: 200px;
            transform-origin: center center;

        }
        &::after {
            top: 50%;
            width: var(--dot-radius);
            height: var(--dot-radius);
            animation: pulse 2s infinite ease-in-out;
        }
        &::before {
            top: calc(50% + calc( var(--dot-radius) / 2 ));
            width: calc( var(--dot-radius) / 1.5 );
            height: calc( var(--dot-radius) / 1.5 );
            opacity:1;
            z-index:59;
        }
    }

    @keyframes pulse {
        0%{
            opacity: 0.5;
            transform: translateX(-50%) scale(0.1,0.1);
        }
        60%{
            opacity: 0.5;
            transform: translateX(-50%) scale(1,1);
        }
        100%{
            opacity:0;
            transform: translateX(-50%) scale(1.5,1.5);
        }
    }

}
