.popup {
    $popup: &;
    @include transition(opacity, visibility);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;

    &.is-open {
        opacity: 1;
        visibility: visible;
    }

    &__backdrop {
        background-color: rgba($black, 0.2);
        backdrop-filter: blur(6px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    &__trigger {
        top: 25px;
        right: 25px;
        position: absolute;
        color: $primary;
        font-size: rem(36px);
        line-height: 0.5em;
        font-weight: map-get($weights, 'medium');

        &:visited {
            color: $primary;
        }

        svg {
            width: 16px;
            height: 16px;
            display: block;

            path {
                fill: $primary;
            }
        }
    }

    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        border-radius: 10px;
        padding: 30px 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: calc(100vh - 30px);
        max-width: calc(100vw - 30px);

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            padding: 45px;
            max-height: calc(100vh - #{$border_body * 2});
            max-width: calc(100vw - #{map-get($body_padding, 'mobile') * 2});
        }

        @media (min-width: pixel(map-get($responsive, 'laptop'))) {
            max-width: calc(100vw - #{map-get($body_padding, 'laptop') * 2});
        }

        &__main {
            @include scroll('y');

            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            margin: 20px 0 0;
            padding: 0 30px 30px;
            position: relative;

            @media (min-width: pixel(map-get($responsive, 'mobile'))) {
                padding: 0;
                flex-direction: row;
                flex-wrap: wrap;
            }

            & > * {
                width: 100%;
                flex: 0 1 100%;
                padding: 40px 0;
                border-bottom: 1px solid $gray_7;

                &:first-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                &:last-child {
                    padding-top: 0;
                }

                @media (min-width: pixel(map-get($responsive, 'mobile'))) {
                    width: 50%;
                    flex: 0 1 50%;
                    border-bottom: 0;
                    padding: 0 45px;
                    border-right: 1px solid $gray_7;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        border-right: 0;
                    }
                }
            }
        }

        & > h3 {
            font-size: rem(18px);
            line-height: 1.2;
            font-weight: map-get($weights, 'medium');
            color: $secondary;
            text-transform: uppercase;
            margin: 0;
            padding: 0 30px;

            @media (min-width: pixel(map-get($responsive, 'mobile'))) {
                padding: 0;
            }
        }

        p {
            margin: 10px 0 0;
            padding: 0 30px;
            font-size: rem(14px);
            line-height: 1.25;
            font-weight: map-get($weights, 'light');
            color: $gray_3;

            @media (min-width: pixel(map-get($responsive, 'mobile'))) {
                padding: 0;
            }
        }
    }

    &__form {
        display: block;

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            .is-three-columns & {
                width: 66.666%;
                flex-basis: 66.666%;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            color: $gray_3;
            font-size: rem(14px);
            line-height: 1.25;
            font-weight: map-get($weights, 'light');

            @media (min-width: pixel(map-get($responsive, 'mobile'))) {
                margin: 0 -10px;
            }

            div {
                display: block;
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                @media (min-width: pixel(map-get($responsive, 'mobile'))) {
                    padding: 0 10px;

                    &:last-child {
                        margin-bottom: 20px;
                    }

                    &.is-half {
                        width: 50%;
                    }
                }

                label {
                    width: 100%;
                    display: block;
                    margin-bottom: 5px;
                }

                a {
                    text-decoration: underline;
                }

                input,
                select,
                textarea {
                    color: $gray_3;
                }

                textarea {
                    resize: none;
                    min-height: 90px;
                }

                &:not(.is-radio):not(.is-checkbox) {
                    label {
                        text-transform: uppercase;
                    }

                    input,
                    select,
                    textarea {
                        width: 100%;
                        padding: 13px 10px;
                        display: block;
                        border: 1px solid $gray_7;
                        background-color: transparent;
                    }
                }

                &.is-radio,
                &.is-checkbox {
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;

                    label {
                        width: auto;
                        margin-bottom: 0;
                        position: relative;
                        padding-left: 25px;

                        input {
                            display: none;

                            &:checked {
                                & + span {
                                    &::after {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }

                        span {
                            &::before {
                                content: '';
                                top: 3px;
                                left: 0;
                                position: absolute;
                                width: 16px;
                                height: 16px;
                                display: block;
                                border: 1px solid $gray_7;
                                box-sizing: border-box;
                            }

                            &::after {
                                @include transition(opacity, visibility);
                                content: '\2714';
                                position: absolute;
                                top: 2px;
                                left: 0;
                                width: 16px;
                                height: 16px;
                                display: block;
                                text-align: center;
                                color: $secondary;
                                opacity: 0;
                                visibility: hidden;
                            }
                        }

                        & + label {
                            margin-left: 20px;
                        }
                    }
                }

                &.is-radio {
                    label {
                        span {
                            &::before {
                                top: 1px;
                                border-radius: 100%;
                            }

                            &::after {
                                width: 14px;
                                height: 14px;
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }

            button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                background-color: $primary;
                color: $white;
                text-transform: uppercase;
                font-weight: map-get($weights, 'semibold');
                padding: 15px;
                cursor: pointer;

                & > * {
                    margin: 0 3px;
                }
            }
        }
    }

    &__preview {
        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            @include scroll('y');

            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }

        @media (min-width: pixel(map-get($responsive, 'mobile'))) {
            .is-three-columns & {
                width: 33.333%;
                flex-basis: 33.333%;
            }
        }

        img {
            width: 100%;
            max-width: 100%;
            display: block;
            height: auto;
            aspect-ratio: 1;
            object-fit: contain;
            object-position: center;
            margin-bottom: 20px;
        }

        h3 {
            margin: 0 0 5px;
            color: $secondary;
            font-size: rem(14px);
            font-weight: map-get($weights, 'light');
            text-transform: uppercase;
            display: block;
        }

        dl {
            @include scroll('y');

            list-style: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            display: grid;
            grid-template-columns: auto 1fr;
            row-gap: 15px;
            column-gap: 30px;
            text-transform: uppercase;
            color: $gray_3;
            line-height: 1.35;

            row-gap: 1px;
            column-gap: 0;
            align-items: stretch;

            & > * {
                background-color: $primary_alt;
                padding: 3px 10px;
                margin: 0;
            }

            dt {
                font-weight: map-get($weights, 'medium');
            }

            dd {
                font-weight: map-get($weights, 'light');
            }
        }
    }

    &#save {
        #{$popup}__body {
            width: map-get($popus_widths, 'quote');
        }
    }

    &#message {
        #{$popup}__body {
            width: map-get($popus_widths, 'save');

            p {
                text-transform: uppercase;
                font-weight: map-get($weights, 'semibold');
                font-size: rem(18px);
                color: $secondary;
                margin: 0;
                padding-right: 15px;
            }
        }

        &.is-success {
            #{$popup}__body {
                p {
                    color: $secondary;
                }
            }
        }
    }

    &#quote {
        #{$popup}__body {
            width: map-get($popus_widths, 'quote');
        }
    }
    &#details {
        #{$popup}__body {
            width: map-get($popus_widths, 'details');
        }
    }
}
