.preview {
    @media (min-width: pixel(map-get($responsive, "mobile"))) {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    &__tabs {
        @include transition(border-color);

        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid $white;

        @media (min-width: pixel(map-get($responsive, "mobile"))) {
            flex: 0 0 auto;
        }

        .is-complete-showing & {
            border-color: $secondary;
        }

        ul {
            @include scroll("x");

            width: 100%;
            margin: 0 auto 0 0;
            padding: 15px 0 0;
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;

            @media (min-width: pixel(map-get($responsive, "mobile"))) {
                padding-top: 0;
            }
        }

        &__item {
            @include transition(box-shadow, background-color, border-color);

            margin: 0 3px 0 0;
            flex: 0 0 auto;
            background-color: $primary_alt;
            border-radius: 8px 8px 0 0;
            text-align: left;
            line-height: 1.3;
            box-shadow: 0 0 $box_shadow_size rgba($black, 0);
            clip-path: inset(
                -#{$box_shadow_size} -#{$box_shadow_size} 0px -#{$box_shadow_size}
            );
            position: relative;
            z-index: 2;
            border: 1px solid $primary_alt;
            border-bottom-width: 0;
            max-width: 120px;

            @media (min-width: pixel(map-get($responsive, "mobile"))) {
                box-shadow: none;
                clip-path: none;
                min-width: 80px;
                text-align: center;

                &:last-child {
                    margin-right: 0;
                }
            }

            svg {
                @include transition(transform);

                width: 14px;
                height: 3px;
                display: block;
                top: 50%;
                left: 7.5px;
                z-index: 1;
                position: absolute;
                transform: translate(0, -50%) rotate(0turn);

                @media (min-width: pixel(map-get($responsive, "mobile"))) {
                    display: none;
                }

                path {
                    fill: $gray_2;
                }
            }

            a {
                @include transition(color);

                padding: 10px 20px 10px 30px;
                display: block;
                color: $secondary;
                height: 100%;
                position: relative;

                @media (min-width: pixel(map-get($responsive, "mobile"))) {
                    padding-left: 20px;
                }

                span {
                    display: block;
                    font-size: 1.1rem;
                    font-weight: map-get($weights, "medium");

                    @media (min-width: pixel(map-get($responsive, "mobile"))) {
                        font-weight: map-get($weights, "bold");
                    }
                }

                small {
                    display: block;
                    font-size: 0.85rem;
                    color: $primary;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &.is-hidden-mobile {
                display: none;
                @media (min-width: pixel(map-get($responsive, "mobile"))) {
                    display: list-item;
                }
            }

            &.is-active {
                z-index: 1;
                border-color: $white;
                background-color: $white;
                box-shadow: 0 0 $box_shadow_size rgba($black, 0.18);

                @media (min-width: pixel(map-get($responsive, "mobile"))) {
                    box-shadow: none;
                }

                svg {
                    transform: translate(0, -50%) rotate(0.25turn);
                }
            }

            &.is-complete {
                line-height: 1.2;
                border-color: $primary;
                background-color: $primary;
                border-bottom: 1px solid $white;
                margin: 15px 2px -1px 3px;
                min-width: auto;
                text-align: center;
                max-width: 100%;

                @media (min-width: pixel(map-get($responsive, "mobile"))) {
                    margin-top: 0;
                    margin-right: 0;
                }

                a {
                    padding-left: 20px;
                    transition: none;

                    span {
                        @include transition(color);

                        color: $white;
                    }
                }

                &.is-active,
                .is-complete-showing & {
                    background-color: $white;
                    border-color: $secondary;
                    border-bottom-color: $white;

                    span {
                        color: $secondary;
                    }
                }
            }
        }
    }

    &__body {
        @include scroll("y", auto);
        @include transition(border-color);

        background-color: $white;
        padding: 0 15px;
        box-shadow: 0 0 $box_shadow_size rgba($black, 0.18);
        height: 100vw;
        max-height: calc(
            100vh - #{map-get($tabs_height, "mobile") + $anchors_height +
                $footer_height}
        );
        border: 1px solid $white;
        border-top-width: 0;
        border-bottom-width: 0;

        @media (min-width: pixel(map-get($responsive, "mobile"))) {
            @include transitionProperties(
                border-color,
                padding,
                opacity,
                visibility
            );

            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            padding: 0;
            box-shadow: none;
            height: auto;
            max-height: 100%;
            border-bottom-width: 1px;
            opacity: 0;
            visibility: hidden;

            .has-products & {
                opacity: 1;
                visibility: visible;
            }
        }

        .is-complete-showing & {
            border-color: $secondary;

            @media (min-width: pixel(map-get($responsive, "mobile"))) {
                padding-bottom: $preview_footer_height;
            }
        }
    }

    &__start {
        @include transition(opacity, visibility);

        background-color: $white;
        height: 100%;
        max-height: calc(
            100vh - #{$header_height + map-get($tabs_height, "desktop") +
                $border_body * 2}
        );
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        text-align: center;
        top: map-get($tabs_height, "desktop");
        left: 0;
        right: 0;
        position: absolute;
        opacity: 1;
        visibility: visible;

        @media (min-width: pixel(map-get($responsive, "mobile"))) {
            display: flex;
        }

        .has-products & {
            opacity: 0;
            visibility: hidden;
        }

        p {
            font-size: rem(17px);
            line-height: pixelRatio(22px, 17px);
            font-weight: map-get($weights, "medium");
            color: $secondary;
            margin: 0 auto;
            padding: 0 0 20px;
            max-width: 250px;
            flex: 0 0 15%;
        }

        img {
            flex: 1 1 85%;
            height: 85%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__image {
        @include transition(border-color);

        flex: 0 0 auto;
        width: 100%;
        padding: 0 0 15px;
        position: relative;
        z-index: 1;
        background-color: $white;
        border-bottom: 3px solid $gray;

        @media (min-width: pixel(map-get($responsive, "mobile"))) {
            top: 0;
            position: sticky;
            padding: 0 30px 15px;
        }

        .is-complete-showing & {
            border-bottom-color: $white;
        }

        img {
            display: block;
            aspect-ratio: 1;
            width: 100%;
            height: auto;
            max-width: 80%;
            margin: 0 auto;
            object-fit: contain;
            object-position: center;

            @media (min-width: pixel(map-get($responsive, "mobile"))) {
                max-width: 40vh;
            }
        }

        &__zoom {
            top: 30px;
            right: 20px;
            position: absolute;
            display: block;

            a {
                display: block;
                width: 100%;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                svg {
                    width: 19px;
                    height: 19px;
                    display: block;

                    g {
                        stroke: $secondary;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-width: 1.5;
                    }
                }
            }
        }

        &__delete {
            @include transition(opacity, visibility);

            right: 20px;
            bottom: 20px;
            position: absolute;
            display: block;
            opacity: 1;
            visibility: visible;

            .is-complete-showing & {
                opacity: 0;
                visibility: hidden;
            }

            svg {
                width: 18px;
                height: 20px;
                display: block;

                g {
                    stroke: $secondary;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1.5;
                }
            }
        }
    }

    &__description {
        @include scroll("y", auto);

        width: 100%;
        padding: 20px 0;
        flex: 1 1 auto;

        @media (min-width: pixel(map-get($responsive, "mobile"))) {
            padding: 20px 30px;
        }

        h2 {
            margin: 0 0 15px;
            color: $secondary;
            font-size: rem(20px);
            font-weight: map-get($weights, "medium");
            text-transform: uppercase;
        }

        h3 {
            margin: 30px 0 10px;
            color: $secondary;
            font-size: rem(14px);
            font-weight: map-get($weights, "light");
            text-transform: uppercase;
            display: none;

            .is-complete-showing & {
                display: block;
            }
        }

        dl {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            display: grid;
            grid-template-columns: auto 1fr;
            row-gap: 7px;
            column-gap: 30px;
            text-transform: uppercase;
            color: $gray_3;
            line-height: 1.35;

            .is-complete-showing & {
                display: none;
            }

            &.is-resume {
                display: none;
                row-gap: 1px;
                column-gap: 0;
                align-items: stretch;

                .is-complete-showing & {
                    display: grid;
                }

                & > * {
                    background-color: $primary_alt;
                    padding: 3px 10px;
                }

                dd {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            dt {
                font-weight: map-get($weights, "medium");
                margin: 0;
            }

            dd {
                font-weight: map-get($weights, "light");
                margin: 0;
            }
        }
    }

    &__footer {
        @include transition(opacity, visibility);

        left: 1px;
        right: 1px;
        bottom: 1px;
        position: absolute;
        background-color: $white;
        border-top: 1px solid $gray;
        display: flex;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        visibility: hidden;

        &__top {
            display: flex;
            justify-content: space-around;
        }
        &__bottom {
            text-align: start;
        }

        .is-complete-showing & {
            opacity: 1;
            visibility: visible;
        }

        a {
            border-right: 1px solid $gray;
            flex: 1 1 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 15px;

            svg {
                margin-right: 10px;
                display: block;
                width: 23px;
                height: 23px;

                g {
                    stroke: $primary;
                }

                &.svg--message {
                    g {
                        stroke-width: 1px;
                        stroke-linejoin: round;
                    }
                }
            }

            &:last-child {
                border-right-color: transparent;
            }
        }
    }

    .VueCarousel {
        .VueCarousel-navigation {
            .VueCarousel-navigation-button {
                color: $secondary;
            }

            @media (max-width: #{pixel(map-get($responsive, "mobile") - 0.02)}) {
                .VueCarousel-navigation-prev,
                .VueCarousel-navigation-next {
                    transform: translateY(-50%) translateX(0);
                }
            }
        }

        .VueCarousel-dot {
            transition: background-color 300ms ease-in-out;
        }
    }
}


@media (min-width: 768px) {
    .is-complete-showing .preview__body {
      padding-bottom: 120px;
    }
  }
