.product {
    @include transition(border-color);

    flex: 0 1 0%;
    display: block;
    text-align: center;
    position: relative;
    border: 1px solid transparent;
    min-width: $product_min_width;
    padding: 2px;
    cursor: pointer;

    @media (min-width: pixel(map-get($responsive, "mobile"))) {
        min-width: 0;
        flex-grow: 1 1;
    }

    img {
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1.1;
        object-fit: contain;
        object-position: center;
        margin: 0 auto;
    }

    &__thumbnail {
        --offset-bottom: 0;
        --offset-top: 0;
        --offset: 0;
        --offset-diff: 5%;

        position: relative;
        background-color: $primary_alt;
        &.transparent {
            background-color: transparent;
        }

        @at-root .has-top-images & {
            --offset: calc((var(--offset-top, 0%) - var(--offset-diff, 0%)) * -1);
        }

        @at-root .has-bottom-images & {
            --offset: calc(var(--offset-bottom, 0%) - var(--offset-diff, 0%));
        }

        &::after {
            content: "";
        }

        div {
            @include transition(opacity);

            top: 50%;
            left: 50%;
            z-index: 10;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 5px;
            display: block;
            background-color: $secondary;
            opacity: 1;
            pointer-events: none;
            user-select: none;

            span {
                @include transition(transform);

                position: static;
                width: 100%;
                height: 100%;
                display: block;
                background-color: $primary;
                transform: scaleX(0);
                transform-origin: left center;
                padding: 0;
                margin: 0;
            }
        }

        img {
            @include transition(opacity);

            opacity: 0;
            transform: translateY(var(--offset));
        }

        &.is-loaded {
            img {
                opacity: 1;
            }

            div {
                opacity: 0;
            }
        }
    }

    span {
        font-size: 0.9rem;
        line-height: 1.2;
        display: block;
        padding: 10px;
    }

    .svg--close-circle {
        @include transition(opacity);

        top: 6px;
        right: 8px;
        width: 14px;
        width: 14.5px;
        height: 14px;
        height: 14.5px;
        display: block;
        position: absolute;
        opacity: 0;

        .svg__primary {
            fill: $primary;
        }

        .svg__white {
            fill: $white;
        }
    }

    &.is-active {
        border-color: $primary;

        .svg--close-circle {
            opacity: 1;
        }
    }
}
