li.search {
    --background: #ffffff;
    --text-color: #414856;
    --primary-color: #7a93dc;
    --border-radius: 10px;
    --height: 27px;
    --width: 40px;
    --input-width: 190px;
    background: var(--background);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    input[type="text"] {
        width: 100%;
        font-weight: 400;
        color: var(--text-color);
        border: 0;
        box-sizing: border-box;
        outline: none;
        padding: 0 0 0 var(--width);
        cursor: pointer;
    }

    .symbol {
        --svg-width: 16px;
        --svg-offset: 0;
        top: 50%;
        left: calc((var(--width) - var(--svg-width)) / 2);
        transform: translate(var(--svg-offset), -50%);
        position: absolute;
        z-index: 11;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s ease;

        .lens {
            fill: var(--primary-color);
            stroke: none;
            width: var(--svg-width);
            height: var(--svg-width);
            z-index: 2;
        }
    }

    &.mobile {
        --gap: 15px;
        padding: 0;
        margin: 0 var(--gap) 20px;
        width: calc(100% - var(--gap) * 2);

        input[type="text"] {
            text-transform: uppercase;
            background-color: $gray;
            padding: 10px var(--width) 10px 10px;
        }

        .symbol {
            left: auto;
            right: 9px;
            transform: translateY(-50%);

            .lens {
                fill: rgba(60, 60, 60, 0.5);
            }
        }
    }

    &.desktop {
        display: none;
        margin-right: 5px;
        min-width: var(--width);
        height: var(--height);

        input[type="text"] {
            position: absolute;
            inset: 0 0 0 auto;
            transform: scaleX(0);
            transform-origin: right center;
            width: var(--input-width);
            height: var(--height);
            transition: transform 0.6s ease, opacity 0.6s ease;
            z-index: 10;
            opacity: 0;
            font-size: 16px;

            &:focus {
                opacity: 1;
                transform: scaleX(1);

                & ~ .symbol {
                    --svg-offset: calc(
                        -1 * (var(--input-width) - var(--width))
                    );
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        &.desktop {
            display: flex;
        }

        &.mobile {
            display: none;
        }
    }
}
