.worlds {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.world {
    $world: &;

    width: 100%;
    text-align: center;
    border: 10px solid #ffffff;
    border-radius: 50%;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    user-select: none;
    display: inline-block;
    transform: translateZ(0);

    a {
        display: inline-block;
        padding-top: 100%;
        width: 100%;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
    }

    @supports (aspect-ratio: auto) {
        aspect-ratio: 1;
    }

    @media (min-width: pixel(map-get($responsive, 'mobile'))) {
        width: calc(50% - 30px);
        margin: 0 15px 30px;
    }

    @media (min-width: pixel(map-get($responsive, 'laptop'))) {
        width: calc(33.333333% - 30px);
    }

    &__preview {
        @include transition(transform);

        top: 50%;
        left: 50%;
        z-index: 1;
        position: absolute;
        transform: translate(-50%, -50%) scale(1) translateZ(0);
        border-radius: 50%;
        display: block;
        transition-duration: 500ms;
        transform-origin: bottom;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        @include transition(background-color, color, transform);

        top: 50%;
        left: 50%;
        z-index: 3;
        position: absolute;
        margin: 0;
        padding: 0;
        display: block;
        color: $secondary;
        transform: translate(-50%, 0);
        transition-duration: 500ms;
        font-size: rem(20px);
        line-height: 1.35;
        font-weight: map-get($weights, 'bold');
        padding: 10px;
        background-color: $white;
        border-radius: 10px;
        white-space: nowrap;
    }

    &__goto {
        @include transition(opacity, transform);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 2;
        height: 53.5%;
        background-color: $secondary;
        opacity: 0;
        transform: translate(0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 30px 15px;
        transition-duration: 500ms;

        & > * {
            margin: 0 5px;
        }

        span {
            display: inline-block;
            color: $white;
            text-transform: uppercase;
            line-height: 1.35;
            font-size: 1rem;
            font-weight: map-get($weights, 'regular');
        }

        svg {
            width: 11px;
            height: 7.5px;
            transform: rotate(180deg);

            path {
                fill: $white;
            }
        }
    }

    &:hover,
    &.is-empty {
        #{$world}__preview {
            transform: translate(-50%, -50%) scale(1.2);
        }

        #{$world}__title {
            color: $white;
            background-color: transparent;
            transform: translate(-50%, 10px);
        }

        #{$world}__goto {
            opacity: 1;
            transform: translate(0, -100%);
        }
    }

    &.is-empty {
        a {
            pointer-events: none;
            cursor: not-allowed;
        }

        #{$world}__title {
            color: $secondary;
        }

        #{$world}__goto {
            opacity: 0.8;
            background-color: $white;

            span {
                color: $secondary;
            }
        }
    }
}
