<template>
    <div>
        <!-- SVG -->
        <svg-viewer type="search"></svg-viewer>

        <configurator-header
            :home="home"
            :world="world"
            :products="selectedProducts"
            ></configurator-header>

            <main id="main">
            <nav id="anchors">
                <ul>
                    <li
                        v-for="category in visibleCategories"
                        :key="category.id"
                    >
                        <a :href="'#' + category.id" v-html="category.name"></a>
                    </li>
                </ul>
            </nav>

            <section id="composer">
                <template v-if="current.state.categories.length">
                    <template v-for="category in current.state.categories">
                        <category-selector
                            :key="category.id"
                            :category="category"
                            :updating="current.updating"
                            :products="productFromCategory(category)"
                            v-model="current.state.filters[category.name]"
                            @searchFromChild="receive"
                            :searchFromParent="search[category.name]"
                            @emptySearch="empty"
                            @input="onChangeCategory(category)"
                        ></category-selector>
                    </template>
                </template>
                <div v-else class="loading"></div>

                <div class="disclaimer">
                    ©Copyright {{ year() }} - CAPARDONI E C. SRL - PI
                    IT00773460159 -
                    <a :href="urls.privacy" target="_blank">Privacy Policy</a> -
                    <a :href="urls.cookie" target="_blank">Cookie Policy</a> -
                    <a :href="urls.company" target="_blank">Company info</a> -
                    <a href="javascript:void" @click="cookiebot()"
                        >Cookie Settings</a
                    ><br />
                    <small>
                        The information declared in this catalogue are
                        approximate and we reserve the right to make changes
                        without prior notice.<br />Additional Items and
                        combinations are available on request.<br />
                        This site is protected by reCAPTCHA and the Google
                        <a href="https://policies.google.com/privacy"
                            >Privacy Policy</a
                        >
                        and
                        <a href="https://policies.google.com/terms"
                            >Terms of Service</a
                        >
                        apply.
                    </small>
                </div>
            </section>

            <selection-viewer
                :baseUrl="baseUrl"
                :products="selectedProducts"
                :combination="selectedCombination"
                :world_field_minimum_qty="world_field_minimum_qty"
            ></selection-viewer>
        </main>

        <quote-popup
            :baseUrl="baseUrl"
            :world="world"
            :combination="selectedCombination"
            :products="selectedProducts"
        ></quote-popup>

        <save-popup
            :baseUrl="baseUrl"
            :world="world"
            :combination="selectedCombination"
            :products="selectedProducts"
        ></save-popup>

        <download-popup
            :baseUrl="baseUrl"
            :world="world"
            :combination="selectedCombination"
            :products="selectedProducts"
        ></download-popup>

        <message-popup></message-popup>

        <configurator-footer
            :home="home"
            :world="world"
            :products="selectedProducts"
        ></configurator-footer>
    </div>
</template>

<script>
import {
    EVENT_RESTART,
    EVENT_QUOTE,
    EVENT_SAVE,
    EVENT_DETAILS,
    EVENT_PREVIEW,
    PRIVACY_LINK,
    COOKIE_LINK,
    COMPANY_LINK,
} from "./utils/constants.js";

export default {
    name: "Configurator",
    props: ["baseUrl", "home", "world", "products", "state", "world_field_minimum_qty", "api"],
    data: function () {
        return {
            urls: {
                privacy: PRIVACY_LINK,
                cookie: COOKIE_LINK,
                company: COMPANY_LINK,
            },
            current: {
                state: this.state,
                updating: false,
            },
            search: {},
            key: 1,
        };
    },
    mounted: function () {
        let self = this;

        this.$root.$on(EVENT_RESTART, function () {
            self.resetFilters();
            self.update();
            self.restartSearch();
        });

        axios
        .post(self.api+"/products",{
            world: self.world
        })
        .then((response) => {
            this.products = response.data
            //this.$root.$emit(EVENT_RESTART);
            self.update();
        });


        if (this.current.state.combination) {
            this.$root.$emit(EVENT_PREVIEW, "combination");
        } else if (this.current.state.products.length > 0) {
            let webCode = this.current.state.products[0];
            this.$root.$emit(EVENT_PREVIEW, this.products[webCode]);
        }

        this.updateScroll();

        window.onpopstate = function (event) {
            if (event.state) {
                self.current.state.filters = event.state;
            } else {
                self.resetFilters();
            }

            self.update();
        };

        window.history.replaceState(
            this.current.state.filters,
            document.title,
            window.location.href
        );

        // this.preloadMissingImages();
        this.initSearch();
    },
    computed: {
        selectedProducts: function () {
            let self = this;
            return this.current.state.products.map(function (product) {
                return self.products[product];
            });
        },
        selectedCombination: function () {
            return this.current.state.combination;
        },
        visibleCategories: function () {
            return this.current.state.categories.filter(function (category) {
                return category.products.length > 0;
            });
        },
        url: function () {
            return window.location.href;
        },
    },
    created() {
        this.initSearch();
    },
    methods: {
        receive(val) {
            this.search = { ...this.search, [val.name]: val.search };
        },
        empty(val) {
            const search = {};

            for (const category in this.search) {
                if (category != val.name) {
                    search[category] = "";
                }
            }

            this.search = search;
        },
        restartSearch() {
            for (const category in this.search) {
                this.search[category] = "";
            }
        },

        initSearch() {
            for (const category of this.current.state.categories) {
                this.search = Object.assign(this.search, {
                    [category.name]: "",
                });
            }
        },

        onChangeCategory(category) {
            this.product = category.product;
            this.update(category);
        },

        resetFilters() {
            for (const [filterName, filter] of Object.entries(
                this.current.state.filters
            )) {
                this.current.state.filters[filterName].product = null;

                for (const [attrbuteName, attribute] of Object.entries(
                    this.current.state.filters[filterName].filters
                )) {
                    this.current.state.filters[filterName].filters[
                        attrbuteName
                    ] = null;
                }
            }
        },

        productFromCategory(category) {
            let results = [];
            let self = this;

            results = category.products.map(function (product) {
                if (self.products[product]) {
                    return self.products[product];
                }
            });

            return results;
        },

        update(category = null) {
            let self = this;

            if (self.current.updating) {
                return;
            }

            self.current.updating = true;

            axios
                .post(self.api, {
                    world: self.world,
                    filters: self.current.state.filters,
                })
                .then(function (response) {
                    let currentProducts = self.current.state.products;

                    self.current.state = response.data;

                    if (self.current.state.combination) {
                        self.$root.$emit(EVENT_PREVIEW, "combination");
                    } else {
                        let productCode = category
                            ? self.current.state.filters[category.name].product
                            : null;

                        let product = null;

                        if (productCode) {
                            product = self.products[productCode];
                        } else if (self.selectedProducts.length > 0) {
                            product = self.selectedProducts[0];
                        }

                        let showProduct =
                            product &&
                            !currentProducts.includes(product.web_code);

                        self.$root.$emit(EVENT_PREVIEW, product, true);
                    }

                    self.updateScroll();
                    self.updateUrl(category);

                    self.$nextTick(function () {
                        self.$forceUpdate();
                        self.current.updating = false;
                    });
                })
                .catch(function (error) {
                    console.log(error);
                    self.current.updating = false;
                });
        },

        updateUrl(category = null) {
            let querystring = "?";

            for (const [key, filter] of Object.entries(
                this.current.state.filters
            )) {
                if (!filter.name) {
                    continue;
                }

                if (filter.product) {
                    querystring = querystring.concat(
                        `products[${filter.name}]=${filter.product}&`
                    );
                }

                if (filter.filters) {
                    for (const [attribute, value] of Object.entries(
                        filter.filters
                    )) {
                        if (!value) {
                            continue;
                        }

                        let paramName = `filters[${filter.name}][${attribute}]`
                        let arrayValue = value
                        if (Array.isArray(value)) {
                            paramName += '[]'
                        } else {
                            arrayValue = [value]
                        }

                        arrayValue.forEach(element => {
                            querystring = querystring.concat(
                                `${paramName}=${element}&`
                            );
                        });
                    }
                }
            }

            if (category) {
                querystring = querystring.concat("#" + category.id);
            }

            if (window.location.search != querystring) {
                window.history.pushState(
                    this.current.state.filters,
                    document.title,
                    querystring
                );
            }
        },

        updateScroll() {
            let self = this;

            setTimeout(function () {
                let top = window.scrollY;

                let element;

                for (const category of self.current.state.categories) {
                    if (category.product) {
                        if (
                            (element = document.querySelector(
                                '[data-web-code="' + category.product + '"]'
                            ))
                        ) {
                            element.scrollIntoView();
                        }
                    }
                }

                window.scroll(0, top);
            }, 100);
        },

        preloadImage(url) {
            var res = document.createElement("link");
            res.rel = "preload";
            res.as = "image";
            res.href = url;
            document.head.appendChild(res);
        },

        preloadMissingImages() {
            let productIds = [];

            for (const category of this.current.state.categories) {
                productIds = productIds.concat(category.products);
            }

            let missingImageUrls = [];

            for (const [webCode, product] of Object.entries(this.products)) {
                if (!productIds.includes(product.web_code)) {
                    missingImageUrls.push(product.image_url);
                }
            }

            let self = this;

            missingImageUrls.forEach(function (url) {
                self.preloadImage(url);
            });
        },

        year() {
            const current = new Date();
            return current.getFullYear();
        },

        cookiebot(event) {
            if (typeof Cookiebot !== "undefined") {
                Cookiebot.renew();
            }

            return false;
        },
    },
};
</script>

<style></style>
