@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/wotfard-extralight-webfont.eot');
  src: url('../fonts/wotfard-extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/wotfard-extralight-webfont.woff2') format('woff2'),
  url('../fonts/wotfard-extralight-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/wotfard-light-webfont.eot');
  src: url('../fonts/wotfard-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/wotfard-light-webfont.woff2') format('woff2'),
  url('../fonts/wotfard-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/wotfard-regular-webfont.eot');
  src: url('../fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/wotfard-regular-webfont.woff2') format('woff2'),
  url('../fonts/wotfard-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/wotfard-medium-webfont.eot');
  src: url('../fonts/wotfard-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/wotfard-medium-webfont.woff2') format('woff2'),
  url('../fonts/wotfard-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/wotfard-semibold-webfont.eot');
  src: url('../fonts/wotfard-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/wotfard-semibold-webfont.woff2') format('woff2'),
  url('../fonts/wotfard-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/wotfard-bold-webfont.eot');
  src: url('../fonts/wotfard-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/wotfard-bold-webfont.woff2') format('woff2'),
  url('../fonts/wotfard-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
