@use "sass:math";
@use "sass:meta";

@function pixelRatio($size, $font: $font_size) {
    $ratio: math.div($size, $font);
    @return $ratio;
}

@function rem($size, $font: $font_size) {
    @return #{pixelRatio($size, $font)}rem;
}

@function pixel($size) {
    @return #{$size}px;
}

@function pixel-to-inches($pixel, $dpi: 300, $rounded: false) {
    $result: strip-unit(math.div($pixel, $dpi)) * 1in;

    @if ($rounded == round or $rounded == true) {
        @return math.round($result);
    } @else if ($rounded == ceil) {
        @return math.ceil($result);
    } @else if ($rounded == floor) {
        @return math.floor($result);
    }

    @return $result;
}

@function mm($pixel, $dpi: 300, $rounded: true) {
    @return pixel-to-mm($pixel, $dpi, $rounded);
}

@function pixel-to-mm($pixel, $dpi: 300, $rounded: true) {
    $result: strip-unit(pixel-to-inches($pixel, $dpi)) * 25.4mm;

    @if ($rounded == round) {
        @return math.round($result);
    } @else if ($rounded == ceil) {
        @return math.ceil($result);
    } @else if ($rounded == floor) {
        @return math.floor($result);
    }

    @return $result;
}

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math.is-unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}
