@mixin scroll($direction: 'both', $overflow: auto) {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar_thumb $scrollbar_track;
    @if ($direction=='vertical' or $direction=='y') {
        overflow-y: $overflow;
    }
    @else if ($direction=='horizontal' or $direction=='x') {
        overflow-x: $overflow;
    }
    @else {
        overflow: $overflow;
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background: $scrollbar_track;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background: $scrollbar_thumb;
        border-radius: 2px;
    }
}

@mixin transitionProperties($properties...) {
    transition-property: #{$properties};
}

@mixin transition($properties...) {
    @include transitionProperties($properties);
    transition-duration: $transition_duration;
    transition-timing-function: $transition_timing_function;
    transition-delay: $transition_delay;
}
