$white: #ffffff !default;
$black: #181b31 !default;

$gray: #f4f4f4 !default;
$gray_2: #00002d !default;
$gray_3: #262626 !default;
$gray_4: #c7c7c7 !default;
$gray_5: #e5e5e5 !default;
$gray_6: #eaeaea !default;
$gray_7: #d6d6d6 !default;

$primary: #7a93dc !default;
$primary_alt: #e4e9f8 !default;

$secondary: #001e60 !default;

$warning: #ffb100 !default;

//

$disabled: $gray_4 !default;
$text_color: $black !default;
$link_color: $secondary !default;
$background_color: $gray !default;
$font_size: 14px !default;
$scrollbar_track: $gray_5 !default;
$scrollbar_thumb: $gray_4 !default;

$transition_duration: 300ms !default;
$transition_timing_function: ease-in-out !default;
$transition_delay: 0ms !default;

$weights: (
  'extralight': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
) !default;

$responsive: (
  'mobile': 768,
  'tablet': 992,
  'laptop': 1200,
  'desktop': 1440,
  'hd': 1680,
  'fullhd': 1920,
  '2k': 2560,
) !default;

$border_body: 25px !default;
$header_height: 74px !default;
$footer_height: 63px !default;
$tabs_height: (
  'mobile': 73px,
  'desktop': 59px,
) !default;

$preview_width: (
  'mobile': 380px,
  'laptop': 480px,
) !default;

$preview_spacer: (
  'mobile': 15px,
  'laptop': 30px,
) !default;

$preview_footer_height: 57px !default;

$body_padding: (
  'mobile': 20px,
  'laptop': 60px,
) !default;

$anchors_height: 57px !default;

$max_allowed_preview_height: 992px !default;
$preview_height: 380px !default;

$box_shadow_size: 13px !default;
$product_min_width: 100px !default;
$category_height: 230px !default;

$popus_widths: (
  'save': 796px,
  'quote': 1100px,
  'details': 1100px,
);
