
<template>
    <header id="header">
        <nav>
            <ul class="is-nav-left">
                <li><a :href="home"><svg-viewer type="arrow-back"></svg-viewer><span>Home</span></a></li>
                <li><strong @click.prevent="restart()">Restart {{ current.world }}</strong></li>
            </ul>
        </nav>

        <a :href="home" class="logo"><svg-viewer type="logo"></svg-viewer></a>

        <ul class="is-nav-right">
            <li><a href="#" @click.prevent="restart()"><svg-viewer type="restart"></svg-viewer> <span>Restart</span></a></li>
            <li><a href="#" @click.prevent="save()" :disabled="!products.length"><svg-viewer type="confirm"></svg-viewer> <span>Save Configuration</span></a></li>
            <li><a href="#" @click.prevent="download()" :disabled="!products.length"><svg-viewer type="download"></svg-viewer> <span>Download Details</span></a></li>
            <li><a href="#" @click.prevent="print()"><svg-viewer type="message"></svg-viewer> <span>Request a Quote</span></a></li>
        </ul>
    </header>
</template>

<script>

import { WORLD_LABELS, EVENT_SAVE, EVENT_QUOTE,EVENT_DETAILS, EVENT_RESTART } from '../utils/constants.js'

export default {
    name: "ConfiguratorHeader",
    props: ['home', 'world', 'products'],
    data: function () {
        return {
            current: {
                world: WORLD_LABELS[this.world],
            }
        }
    },
    methods: {
        restart() {
            this.$root.$emit(EVENT_RESTART);
        },
        save() {
            if (this.products.length) {
                this.$root.$emit(EVENT_SAVE);
            }
        },
        download() {
            if (this.products.length) {
                this.$root.$emit(EVENT_DETAILS);
            }
        },
        print() {
            this.$root.$emit(EVENT_QUOTE);
        }
    }
};
</script>

<style>
#header .world {
    cursor: pointer;
}
</style>
