
<template>
    <footer id="footer">
        <nav>
            <ul>
                <li><a :href="home"><span class="has-svg"><svg-viewer type="arrow-back"></svg-viewer> </span><span>Home</span></a></li>
                <li><a href="#" @click.prevent="restart()"><span class="has-svg"><svg-viewer type="restart"></svg-viewer> </span><span>Restart</span></a></li>
                <li><a href="#" @click.prevent="save()" :disabled="!products.length"><span class="has-svg"><svg-viewer type="confirm"></svg-viewer> </span><span>Save</span></a></li>
                <li><a href="#" @click.prevent="save()" :disabled="!products.length"><span class="has-svg"><svg-viewer type="download"></svg-viewer> </span><span>Download</span></a></li>
                <li><a href="#" @click.prevent="print()"><span class="has-svg"><svg-viewer type="message"></svg-viewer> </span><span>Quote</span></a></li>
            </ul>
        </nav>
    </footer>
</template>

<script>
import { WORLD_LABELS, EVENT_SAVE, EVENT_QUOTE,EVENT_DETAILS, EVENT_RESTART } from '../utils/constants.js'

export default {
    name: "ConfiguratorFooter",
    props: ['home', 'world', 'products'],
    data: function () {
        return {
            current: {
                world: WORLD_LABELS[this.world],
            }
        }
    },
    methods: {
        restart() {
            this.$root.$emit(EVENT_RESTART);
        },
        save() {
            if (this.products.length) {
                this.$root.$emit(EVENT_SAVE);
            }
        },
        download() {
            if (this.products.length) {
                this.$root.$emit(EVENT_DETAILS);
            }
        },
        print() {
            this.$root.$emit(EVENT_QUOTE);
        }
    }
};
</script>

<style scoped>
</style>
