<template>
    <section id="details" :class="'popup' + (is_open ? ' is-open' : '')">
        <div class="popup__backdrop"></div>
        <div class="popup__body">
            <a
                href="#"
                @click.prevent="close()"
                class="popup__trigger js-popup-opener"
            >
                &times;
            </a>

            <h3>Download Configuration Details</h3>
            <p>
                To download the current configuration details, so that you can
                always have it available, fill out the form below
            </p>

            <div class="popup__body__main is-three-columns">
                <div class="popup__form">
                    <form
                        :action="baseUrl + '/store'"
                        method="POST"
                        @submit="send"
                        id="form-download-configuration"
                    >
                        <div class="is-half">
                            <label for="firstname">First name</label>
                            <input
                                type="text"
                                name="firstname"
                                required
                                v-model="current.firstname"
                            />
                        </div>

                        <div class="is-half">
                            <label for="lastname">Last name</label>
                            <input
                                type="text"
                                name="lastname"
                                required
                                v-model="current.lastname"
                            />
                        </div>

                        <div class="is-half">
                            <label for="company">Company</label>
                            <input
                                type="text"
                                name="company"
                                required
                                v-model="current.company"
                            />
                        </div>

                        <div class="is-half">
                            <label for="country">Country</label>
                            <input
                                type="text"
                                name="country"
                                required
                                v-model="current.country"
                            />
                        </div>

                        <div>
                            <label for="email">Email</label>
                            <input
                                type="email"
                                name="email"
                                required
                                v-model="current.email"
                            />
                        </div>

                        <div>
                            By fulfilling this "configurator" section, and
                            clicking on "DOWNLOAD DETAILS" button, you will be
                            able to download your configurations details and
                            stay informed about the latest news from Capardoni
                            Srl, by accepting to receive our newsletters. See
                            <a :href="privacy_link" target="_blank"
                                >our policies for the processing of your
                                personal data</a
                            >
                        </div>

                        <div class="is-checkbox">
                            <label>
                                <input
                                    type="checkbox"
                                    name="privacy"
                                    value="1"
                                    required
                                    v-model="current.privacy"
                                />
                                <span
                                    >Pursuant to and for the purposes of
                                    articles 13 and 6 of Reg. (EU) 2016/679.<br />I
                                    have read the
                                    <a :href="privacy_link" target="_blank"
                                        >information</a
                                    >
                                    provided by Capardoni Srl and by saving my
                                    customised configurations I agree to receive
                                    Capardoni's newsletters and personalized
                                    offers, by giving my consent to the
                                    processing of my data for the
                                    above-mentioned purposes.</span
                                >
                            </label>
                        </div>

                        <div>
                            <button type="submit">
                                <img
                                    inline
                                    :src="
                                        baseUrl +
                                        '/frontend/assets/svg/download.svg'
                                    "
                                />
                                <span>Download Configuration Details</span>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="popup__preview">
                    <img
                        v-if="combination"
                        :src="combination.image_url"
                        :alt="combination.title"
                    />

                    <h3>Configuration summary</h3>

                    <dl>
                        <template v-for="product in products">
                            <dt v-html="product.type"></dt>
                            <dd v-html="product.name"></dd>
                        </template>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {
    EVENT_DETAILS,
    EVENT_MESSAGE,
    DETAILS_PRIVACY_LINK,
} from "../utils/constants.js";

export default {
    name: "DetailsProductPopup",
    props: ["baseUrl", "world", "combination", "products"],
    data: function () {
        return {
            is_open: false,
            privacy_link: DETAILS_PRIVACY_LINK,
            current: {
                url: null,
                action: "details",
                firstname: null,
                lastName: null,
                company: null,
                country: null,
                email: null,
                privacy: false,
            },
        };
    },
    mounted: function () {
        this.$root.$on(EVENT_DETAILS, () => {
            this.current.url = window.location.href;
            this.is_open = true;
        });
    },

    methods: {
        close: function () {
            this.is_open = false;
        },
        recaptcha() {
            return this.$recaptchaLoaded()
                .then(() => {
                    return this.$recaptcha("submit");
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        send: function (event) {
            event.preventDefault();

            this.bottone = event.srcElement.querySelector("button");
            this.bottone.disabled = true;

            this.recaptcha()
                .then((token) => {
                    axios
                        .post(this.baseUrl + "/store", {
                            token,
                            ...this.current,
                            world: this.world,
                            combination: this.combination?.id,
                            products: this.products.map(
                                (product) => product.id
                            ),
                        })
                        .then((response) => {
                            this.is_open = false;
                            this.$root.$emit(EVENT_MESSAGE, response.data);

                            window.dataLayer = window.dataLayer || [];
                            window.dataLayer.push({
                                event: "form-download-configuration",
                            });
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                        .then(() => {
                            this.bottone.disabled = false;
                        });
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>

<style scoped></style>
