<template>
    <section id="message" :class="classes">
        <div class="popup__backdrop"></div>
        <div class="popup__body">
            <a href="#" @click.prevent="close()" class="popup__trigger js-popup-opener">
                &times;
            </a>

            <p v-html="message"></p>
        </div>
    </section>
</template>

<script>
import { EVENT_MESSAGE } from '../utils/constants.js'

export default {
    name: 'MessagePopup',
    props: [],
    data: function () {
        return {
            is_open: false,
            sent: false,
            message: null,
        };
    },
    mounted: function() {
        let self = this;

        self.$root.$on(EVENT_MESSAGE, function(event) {
            self.sent = event.sent;
            self.message = event.message;
            self.is_open = true;
        });
    },
    computed: {
        classes() {
            return {
                popup: true,
                'is-open': this.is_open,
                'is-success': this.sent
            }
        }
    },
    methods: {
        close: function() {
            this.is_open = false;
        }
    }
};
</script>

<style scoped>
</style>
