<template>
    <section id="quote" :class="'popup' + (is_open ? ' is-open' : '')">
        <div class="popup__backdrop"></div>
        <div class="popup__body">
            <a
                href="#"
                @click.prevent="close()"
                class="popup__trigger js-popup-opener"
            >
                &times;
            </a>

            <h3>Request a Quote</h3>
            <p>
                To receive a quote on the current configuration, or to request
                more information about other combinations or customizations,
                fill out the form below
            </p>

            <div class="popup__body__main is-three-columns">
                <div class="popup__form">
                    <form
                        :action="baseUrl + '/store'"
                        method="POST"
                        @submit="send"
                        id="form-request-a-quote"
                    >
                        <div class="is-half">
                            <label for="firstname">First name</label>
                            <input
                                type="text"
                                name="firstname"
                                required
                                v-model="current.firstname"
                            />
                        </div>

                        <div class="is-half">
                            <label for="lastname">Last name</label>
                            <input
                                type="text"
                                name="lastname"
                                required
                                v-model="current.lastname"
                            />
                        </div>

                        <div class="is-half">
                            <label for="company">Company</label>
                            <input
                                type="text"
                                name="company"
                                required
                                v-model="current.company"
                            />
                        </div>

                        <div class="is-half">
                            <label for="email">Phone</label>
                            <input
                                type="tel"
                                name="phone"
                                v-model="current.phone"
                            />
                        </div>

                        <div class="is-half">
                            <label for="email">Email</label>
                            <input
                                type="email"
                                name="email"
                                required
                                v-model="current.email"
                            />
                        </div>

                        <div class="is-half">
                            <label for="country">Country</label>
                            <input
                                type="text"
                                name="country"
                                required
                                v-model="current.country"
                            />
                        </div>

                        <div>
                            <label for="message">Message</label>
                            <textarea
                                name="message"
                                v-model="current.message"
                            ></textarea>
                        </div>

                        <div>
                            Pursuant to and for the purposes of articles 13 and
                            6 of EU Regulation 2016/679 (GDPR)
                        </div>

                        <div class="is-checkbox">
                            <label>
                                <input
                                    type="checkbox"
                                    name="privacy"
                                    value="1"
                                    required
                                    v-model="current.privacy"
                                />
                                <span
                                    >I have read the
                                    <a :href="privacy_link" target="_blank"
                                        >information</a
                                    >
                                    provided by Capardoni Srl (contacts)</span
                                >
                            </label>
                        </div>

                        <div>
                            In relation to the
                            <a :href="privacy_link" target="_blank"
                                >information</a
                            >
                            provided by Capardoni for the for the purposes
                            indicated in paragraph 2 B),
                        </div>

                        <div class="is-radio">
                            <label>
                                <input
                                    type="radio"
                                    name="marketing"
                                    value="1"
                                    v-model="current.marketing"
                                />
                                <span>I give my consent</span>
                            </label>
                            <label>
                                <input
                                    type="radio"
                                    name="marketing"
                                    value="0"
                                    v-model="current.marketing"
                                    checked
                                />
                                <span>I do not give my consent</span>
                            </label>
                        </div>

                        <div>
                            <button type="submit">
                                <img
                                    inline
                                    :src="
                                        baseUrl +
                                        '/frontend/assets/svg/message.svg'
                                    "
                                />
                                <span>Request a Quote</span>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="popup__preview">
                    <img
                        v-if="combination"
                        :src="combination.image_url"
                        :alt="combination.title"
                    />

                    <h3>Configuration summary</h3>

                    <dl>
                        <template v-for="product in products">
                            <dt v-html="product.type"></dt>
                            <dd v-html="product.name"></dd>
                        </template>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {
    EVENT_QUOTE,
    EVENT_MESSAGE,
    QUOTE_PRIVACY_LINK,
} from "../utils/constants.js";

export default {
    name: "QuotePopup",
    props: ["baseUrl", "world", "combination", "products"],
    data: function () {
        return {
            is_open: false,
            privacy_link: QUOTE_PRIVACY_LINK,
            current: {
                url: null,
                world: this.world,
                action: "quote",
                firstname: null,
                lastName: null,
                company: null,
                phone: null,
                country: null,
                email: null,
                message: null,
                privacy: false,
                marketing: false,
            },
        };
    },
    mounted: function () {
        let self = this;

        this.$root.$on(EVENT_QUOTE, function () {
            self.current.url = window.location.href;
            self.is_open = true;
        });
    },

    methods: {
        close: function () {
            this.is_open = false;
        },
        recaptcha() {
            return this.$recaptchaLoaded()
                .then(() => {
                    return this.$recaptcha("submit");
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        send: function (event) {
            event.preventDefault();

            this.bottone = event.srcElement.querySelector("button");
            this.bottone.disabled = true;

            this.recaptcha()
                .then((token) => {
                    console.debug(token);

                    axios
                        .post(this.baseUrl + "/store", {
                            token,
                            ...this.current,
                        })
                        .then((response) => {
                            this.is_open = false;
                            this.$root.$emit(EVENT_MESSAGE, response.data);

                            this.bottone.disabled = false;

                            window.dataLayer = window.dataLayer || [];
                            window.dataLayer.push({
                                event: "form-request-a-quote",
                            });
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    },
};
</script>

<style scoped></style>
